<div class="wc-movement-preparation">
    <div class="wc-movement-preparation__header">
        <h2>{{ labels.title | translate }}</h2>
        <button mat-button (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="wc-movement-preparation__task" *ngIf="sendToOtherWorkflow">
        <form [formGroup]="taskForm">
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>{{ labels.taskLabel | translate }}</mat-label>
                <textarea
                    matInput
                    formControlName="description"
                    [placeholder]="labels.taskPlaceholder | translate"
                    cdkTextareaAutosize
                ></textarea>
                <mat-error *ngIf="taskForm.invalid">
                    <span>{{ labels.required | translate }}</span>
                </mat-error>
            </mat-form-field>
        </form>
    </div>
    <mat-tab-group
        animationDuration="0ms"
        mat-align-tabs="center"
        (selectedTabChange)="tabSelected($event)"
        *ngIf="tabsToShow?.length"
    >
        <mat-tab
            *ngIf="preparationOutForm"
            [label]="getTabLabel('OUT')"
            [labelClass]="{ 'text-red': preparationOutForm?.invalid }"
        ></mat-tab>
        <mat-tab
            *ngIf="preparationInForm"
            [label]="getTabLabel('IN')"
            [labelClass]="{ 'text-red': preparationInForm?.invalid }"
        ></mat-tab>
    </mat-tab-group>
    <div class="wc-movement-preparation__warnings" [hidden]="tabToShow !== 'IN'">
        <form [formGroup]="preparationInForm" *ngIf="preparationInForm" class="smaller-mat-form-fields">
            <div class="preparation__section" *ngIf="preparationIn.requiredSize">
                <div class="preparation__section__title">
                    {{ labels.size | translate }}
                </div>
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>{{ labels.sizePlaceholder | translate }}</mat-label>
                    <mat-select formControlName="size">
                        <mat-option [value]="'S'">S</mat-option>
                        <mat-option [value]="'M'">M</mat-option>
                        <mat-option [value]="'L'">L</mat-option>
                        <mat-option [value]="'XL'">XL</mat-option>
                    </mat-select>
                    <mat-error
                        class="preparation__error"
                        *ngIf="preparationInForm.controls.size.invalid && preparationInForm.controls.size.touched"
                    >
                        {{ labels.required | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="preparation__section" *ngIf="preparationIn.requiredUser">
                <div class="preparation__section__title">
                    {{ labels.user | translate }}
                </div>
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>{{ labels.userPlaceholder | translate }}</mat-label>
                    <mat-select formControlName="user">
                        <mat-option *ngFor="let user of users" [value]="user">{{ user.user.fullName }}</mat-option>
                    </mat-select>
                    <mat-error
                        class="preparation__error"
                        *ngIf="preparationInForm.controls.user.invalid && preparationInForm.controls.user.touched"
                    >
                        {{ labels.required | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="preparation__section" *ngIf="preparationIn.sendMail">
                <div class="preparation__section__title">
                    {{ labels.template | translate }}
                </div>
                <app-text-editor-wrapper
                    id="templateEditor"
                    textEditorId="templateEditor"
                    [initialValue]="preparationInForm?.controls?.template?.value"
                    [textEditorConfig]="textEditorToolbarOptions"
                    [placeholder]="labels.insertText | translate"
                    (contentChanged)="textEditorContentChanged($event, preparationInForm)"
                ></app-text-editor-wrapper>
                <mat-error
                    class="preparation__error"
                    *ngIf="preparationInForm.controls.template.invalid && preparationInForm.controls.template.touched"
                >
                    {{ labels.required | translate }}
                </mat-error>
            </div>
        </form>
    </div>
    <div class="wc-movement-preparation__warnings" [hidden]="tabToShow !== 'OUT'">
        <form [formGroup]="preparationOutForm" *ngIf="preparationOutForm" class="smaller-mat-form-fields">
            <div class="preparation__section" *ngIf="preparationOut.requiredSize">
                <div class="preparation__section__title">
                    {{ labels.size | translate }}
                </div>
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>{{ labels.sizePlaceholder | translate }}</mat-label>
                    <mat-select formControlName="size">
                        <mat-option [value]="'S'">S</mat-option>
                        <mat-option [value]="'M'">M</mat-option>
                        <mat-option [value]="'L'">L</mat-option>
                        <mat-option [value]="'XL'">XL</mat-option>
                    </mat-select>
                    <mat-error
                        class="preparation__error"
                        *ngIf="preparationOutForm.controls.size.invalid && preparationOutForm.controls.size.touched"
                    >
                        {{ labels.required | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="preparation__section" *ngIf="preparationOut.requiredUser">
                <div class="preparation__section__title">
                    {{ labels.user | translate }}
                </div>
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>{{ labels.userPlaceholder | translate }}</mat-label>
                    <mat-select formControlName="user">
                        <mat-option *ngFor="let user of users" [value]="user">{{ user.user.fullName }}</mat-option>
                    </mat-select>
                    <mat-error
                        class="preparation__error"
                        *ngIf="preparationOutForm.controls.user.invalid && preparationOutForm.controls.user.touched"
                    >
                        {{ labels.required | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="preparation__section" *ngIf="preparationOut.sendMail">
                <div class="preparation__section__title">
                    {{ labels.template | translate }}
                </div>
                <app-text-editor-wrapper
                    id="templateEditor"
                    textEditorId="templateEditor"
                    [initialValue]="preparationOutForm?.controls?.template?.value"
                    [textEditorConfig]="textEditorToolbarOptions"
                    [placeholder]="labels.insertText | translate"
                    (contentChanged)="textEditorContentChanged($event, preparationOutForm)"
                ></app-text-editor-wrapper>
                <mat-error
                    class="preparation__error"
                    *ngIf="preparationOutForm.controls.template.invalid && preparationOutForm.controls.template.touched"
                >
                    {{ labels.required | translate }}
                </mat-error>
            </div>
        </form>
    </div>
    <div class="wc-movement-preparation__footer">
        <button mat-flat-button color="primary" [disabled]="disableSaveButton()" (click)="save()">
            {{ labels.save | translate }}
        </button>
    </div>
</div>
