@import 'utils/core';

.users-header {
  padding: 0 30px 25px 30px;

  &__title {
    margin-bottom: 0px;
  }

  @include respond-to($tablet-small) {
    padding: 0 5px 25px 0;
  }

  @include respond-to($mobile) {
    padding: 25px 5px;

    &__title {
      margin-right: 50%;
    }
  }

  &__actions-wrapper {
    @include respond-to($mobile) {
      width: 100%;
    }

    .create-action {
      box-sizing: border-box;
      // height: 48px;
      margin-left: 20px;

      @include respond-to($tablet-small) {
        margin-left: 5px;
      }
    }

    &__search-form-wrapper {
      display: inline-block;
    }

    .filter-action {
      margin-left: 5px;
      &.active:before {
        content: '';
        display: block;
        position: absolute;
        right: -5px;
        top: -5px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: yellowgreen;
      }
    }
  }
}
