@import '@angular/material/theming';
@import 'utils/core';

@mixin administration-common-header-section-component-theme($theme, $main-typo) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);

  .adm-header-section {
    &__title {
      color: mat-color($foreground, secondary-text);
    }
  }
}
