.card-comments {
  width: calc(100% - 30px);
  height: calc(100% - 37px);
  padding: 15px;
  position: relative;
  &__wrapper {
    height: calc(100% - 100px);
    overflow-y: auto;
    &__comment {
      padding: 10px;
      border-radius: 8px;
      margin-bottom: 10px;
      font-size: 0.9em;
      position: relative;
      .new-comment {
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 7px;
        top: 10px;
        right: 10px;
      }
      .fullname {
        font-size: 0.8em;
        font-weight: 600;
        text-transform: uppercase;
      }
      .date {
        font-size: 0.8em;
      }
      .comment {
        margin-top: 5px;
        overflow-wrap: break-word;
      }
    }
  }
  &__new {
    width: calc(100% - 30px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: 15px;
    left: 15px;
    height: 90px;
    app-text-editor-wrapper {
      height: 90px;
      max-height: 90px;
      overflow: visible;
      width: calc(100% - 40px);
      padding: 10px 5px 0 5px;
    }
    button {
      transform: rotate(-45deg);
    }
  }
}
