@import '@angular/material/theming';

@mixin workflow-column-comments-component-theme($theme, $main-typo) {
  #commentEditor {
    font-size: 0.85em !important;
    .note-hint-popover {
      left: 0 !important;
      top: -176px !important;
      height: 153px;
      overflow: hidden;
      width: 100%;
    }
    .note-statusbar {
      display: none;
    }
    .popover-content.note-children-container {
      overflow: auto;
    }
  }
}
