<div class="users-container">
    <div class="users-container__header">
        <app-administration-common-header-section
            #usersHeader
            [searchType]="selectedTab === 'users' ? 'search' : 'filter'"
            [buttonLabel]="selectedTab === 'users' ? labels.createUser : labels.createRole"
            [showFilterButton]="selectedTab === 'users' ? true : false"
            [areFiltersSettedAndActive]="areFiltersSettedAndActive()"
            [searchFn]="getFilteredData"
            [title]="'administration.users'"
            (buttonCreateAction)="buttonCreateAction()"
            (buttonShowFilterDrawerAction)="buttonShowFilterDrawerAction()"
            (buttonSearchAction)="buttonSearchAction($event)"
        ></app-administration-common-header-section>
    </div>
    <mat-tab-group class="mat-tab-page-sections" mat-align-tabs="start" (selectedTabChange)="changeSelectedTab($event)">
        <mat-tab label="{{ labels.users | translate }}">
            <app-users-list #usersList></app-users-list>
        </mat-tab>
        <mat-tab label="{{ labels.roles | translate }}">
            <app-roles-list #rolesList></app-roles-list>
        </mat-tab>
    </mat-tab-group>
</div>
