<div class="profile-content" fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!isModalModeActive()">
        <div class="profile-content__title mat-display-2">{{ labels.title | translate }}</div>
    </div>
    <div class="profile-content__form">
        <form [formGroup]="profileForm" *ngIf="profileForm">
            <!-- General Data -->
            <div class="user-data__section">
                <div class="user-data__section__title first-child">
                    {{ labels.data | translate }}
                </div>
                <div class="user-data__section__group" fxLayout="row" fxLayoutAlign="start center">
                    <!-- Name -->
                    <mat-form-field appearance="outline">
                        <mat-label>{{ labels.name | translate }}</mat-label>
                        <input matInput formControlName="name" />
                        <mat-error
                            class="user-data__error"
                            *ngIf="profileForm.controls.name.invalid && profileForm.controls.name.touched"
                        >
                            {{ labels.nameRequired | translate }}
                        </mat-error>
                    </mat-form-field>
                    <!-- firstName -->
                    <mat-form-field appearance="outline">
                        <mat-label>{{ labels.firstName | translate }}</mat-label>
                        <input matInput formControlName="firstName" />
                        <mat-error
                            class="user-data__error"
                            *ngIf="profileForm.controls.firstName.invalid && profileForm.controls.firstName.touched"
                        >
                            {{ labels.firstNameRequired | translate }}
                        </mat-error>
                    </mat-form-field>
                    <!-- lastName -->
                    <mat-form-field appearance="outline">
                        <mat-label>{{ labels.lastName | translate }}</mat-label>
                        <input matInput formControlName="lastName" />
                    </mat-form-field>
                </div>

                <div class="user-data__section__group" fxLayout="row" fxLayoutAlign="start center">
                    <!-- userName -->
                    <mat-form-field appearance="outline">
                        <mat-label>{{ labels.userName | translate }}</mat-label>
                        <input matInput formControlName="userName" />
                    </mat-form-field>
                    <!-- Email -->
                    <mat-form-field appearance="outline">
                        <mat-label>{{ labels.email | translate }}</mat-label>
                        <input matInput formControlName="email" />
                    </mat-form-field>
                    <!-- role -->
                    <mat-form-field appearance="outline">
                        <mat-label>{{ labels.role | translate }}</mat-label>
                        <input matInput formControlName="role" />
                    </mat-form-field>
                </div>
            </div>

            <!-- Organization -->
            <div class="user-data__section">
                <div class="user-data__section__title">
                    {{ labels.organization | translate }}
                </div>
                <div class="user-data__section__group" fxLayout="row" fxLayoutAlign="start center">
                    <div class="user-data__section__group__title">{{ labels.brand | translate }}</div>
                    <div class="user-data__section__group__content" *ngFor="let brand of this.userDetails?.brands">
                        {{ brand.name }}
                    </div>
                </div>

                <div class="user-data__section__group" fxLayout="row" fxLayoutAlign="start center">
                    <div class="user-data__section__group__title">{{ labels.facility | translate }}</div>
                    <div class="user-data__section__group__content" *ngFor="let facility of this.userDetails?.facilities">
                        {{ facility.name }}
                    </div>
                </div>

                <div class="user-data__section__group" fxLayout="row" fxLayoutAlign="start center">
                    <div class="user-data__section__group__title">{{ labels.department | translate }}</div>
                    <div class="user-data__section__group__content" *ngFor="let department of this.userDetails?.departments">
                        {{ department.name }}
                    </div>
                </div>

                <div class="user-data__section__group" fxLayout="row" fxLayoutAlign="start center">
                    <div class="user-data__section__group__title">{{ labels.specialty | translate }}</div>
                    <div class="user-data__section__group__content" *ngFor="let specialty of this.userDetails?.specialties">
                        {{ specialty.name }}
                    </div>
                </div>
            </div>

            <!-- Sign -->
            <div class="user-data__section">
                <div class="user-data__section__title">
                    {{ labels.sign | translate }}
                </div>
            </div>
        </form>
    </div>
    <div class="profile-content__buttons">
        <!-- TODO: buttons used when the component is not opened with customDialogService -->
    </div>
</div>
