@import 'utils/core';

.profile-content {
  padding-right: 15px;
  .profile-content__form {
    .user-data__section {
      &__title {
        margin: 0 0 5px 0;
        &.first-child {
          margin-top: 0px;
        }
      }
      &__group {
        &__title {
          padding-bottom: 0px;
          text-transform: uppercase;
          margin-bottom: 0px;
          padding-right: 0.5rem;
          &::after {
            content: ':';
          }
        }

        &__content {
          margin-bottom: 0px;
          padding-right: 0.5rem;

          &::after {
            content: ',';
          }
          &:last-child:after {
            content: '';
          }
        }
      }
      // TODO: DGDC quitar
      .sign-wrapper {
        border: 1px #4746a3 solid;
        width: 250px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: end;
        border-radius: 8px;
        img {
          max-width: 240px;
          max-height: 140px;
        }
      }
    }
  }
}
