@import '@angular/material/theming';

@mixin my-profile-component-theme($theme, $main-typo) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);

  .profile-content {
    .profile-content__form {
      .user-data__section {
        &__title {
          color: mat-color($primary, 500);
          font-size: 1rem;
          font-weight: 600;
        }
        &__group {
          &__title {
            color: mat-contrast($primary, 100);
            font-size: 0.75rem;
            font-weight: 600;
          }

          &__content {
            color: mat-color($foreground, secondary-text);
            font-size: 0.875rem;
          }
        }
      }
    }
  }
}
