<div class="create-role-component">
    <form [formGroup]="roleForm">
        <mat-form-field appearance="outline" class="create-role__input">
            <mat-label>{{ labels.roleName | translate }}</mat-label>
            <input matInput formControlName="name" />
            <mat-error class="create-role__error" *ngIf="roleForm.controls?.name.invalid && roleForm.controls?.name.touched">
                {{ labels.roleNameRequired | translate }}
            </mat-error>
        </mat-form-field>

        <!-- Permissions -->
        <app-users-permissions
            #permissionsListComponent
            [permissions]="permissions"
            [type]="'CREATE_EDIT_ROLE'"
        ></app-users-permissions>
    </form>
</div>
