<div class="event">
    <!-- Shown only for move event -->
    <div class="event__detail" *ngIf="eventType === 'MOV' && move">
        <div class="event__detail__from-to">{{ getMoveEventDetail("from") }}</div>
        <mat-icon class="move" *ngIf="isTargetAndSourceSameWorkflow()">keyboard_arrow_right</mat-icon>
        <mat-icon *ngIf="!isTargetAndSourceSameWorkflow()" style="transform: rotate(90deg)">call_split</mat-icon>
        <div class="event__detail__from-to">{{ getMoveEventDetail("to") }}</div>
    </div>
    <form [formGroup]="form" class="event__config" *ngIf="form">
        <section class="event__config__section" *ngIf="eventType === 'MOV' && move">
            <h2 class="event__config__section__title">
                {{ labels.whoSeeThisMovement | translate }}
            </h2>
            <div class="event__config__section__wrapper">
                <h4 class="subtitle uppercase">{{ labels.roles | translate }}</h4>
                <div class="bordered">
                    <div>
                        <mat-checkbox
                            color="primary"
                            [checked]="allRolesSelected()"
                            [indeterminate]="someRolesSelected()"
                            (change)="setAllRoles($event.checked)"
                            >{{ labels.all | translate }}
                        </mat-checkbox>
                    </div>
                    <div *ngFor="let role of form.get('roles').value">
                        <mat-checkbox [checked]="role.selected" (change)="changeRoleValue(role)">{{ role.name }}</mat-checkbox>
                    </div>
                </div>
            </div>
        </section>
        <section class="event__config__section">
            <h2 class="event__config__section__title">
                {{ labels.events | translate }}
            </h2>
            <div class="event__config__section__wrapper">
                <div [ngClass]="{ bordered: form.get('sendMail')?.value }">
                    <div>
                        <mat-checkbox color="primary" formControlName="sendMail"
                            >{{ labels.sendMail | translate }}
                            <button mat-button *ngIf="form.get('sendMail')?.value" (click)="addWorkflowEventMails()">
                                <mat-icon>add</mat-icon>
                            </button></mat-checkbox
                        >
                    </div>
                    <mat-accordion formArrayName="workflowEventMails" *ngIf="form.get('sendMail')?.value">
                        <mat-expansion-panel *ngFor="let mailEvent of getWfEventsMailsFormArray().controls; let i = index">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{ getMailEventTitle(mailEvent) }}
                                    <button mat-button class="delete-button" (click)="deleteEmailEvent(i)">
                                        <mat-icon>delete_outline</mat-icon>
                                    </button></mat-panel-title
                                >
                            </mat-expansion-panel-header>
                            <section [formGroupName]="i">
                                <!-- Send mail auto -->
                                <mat-checkbox color="primary" formControlName="sendMailAuto"
                                    >{{ labels.sendMailAuto | translate }}
                                </mat-checkbox>
                                <!-- Template -->
                                <mat-form-field class="select-wrapper" appearance="outline" floatLabel="always">
                                    <mat-label>{{ labels.sendMailTemplate | translate }}</mat-label>
                                    <mat-select formControlName="sendMailTemplate">
                                        <mat-option *ngFor="let template of templatesList" [value]="template">{{
                                            template.name | translate
                                        }}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="mailEvent.controls?.sendMailTemplate.invalid">
                                        <span *ngIf="mailEvent.controls.sendMailTemplate.errors.required">{{
                                            labels.required | translate
                                        }}</span>
                                    </mat-error>
                                </mat-form-field>
                                <!-- Receivers -->
                                <mat-form-field class="select-wrapper" appearance="outline" floatLabel="always">
                                    <mat-label>{{ labels.sendMailReceiverType | translate }}</mat-label>
                                    <mat-select formControlName="receiverTypes" multiple>
                                        <mat-option *ngFor="let type of receiverTypes" [value]="type">
                                            {{ labels[type] | translate }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="mailEvent.controls?.receiverTypes.invalid">
                                        <span *ngIf="mailEvent.controls.receiverTypes.errors.required">{{
                                            labels.required | translate
                                        }}</span>
                                    </mat-error>
                                </mat-form-field>
                                <!-- Rol -->
                                <mat-form-field
                                    class="select-wrapper"
                                    appearance="outline"
                                    floatLabel="always"
                                    *ngIf="showTypeSelector(mailEvent, 'ROLE')"
                                >
                                    <mat-label>{{ labels.sendMailReceiverRole | translate }}</mat-label>
                                    <mat-select formControlName="receiverRole">
                                        <mat-option *ngFor="let role of roles" [value]="role">
                                            {{ role.name }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="mailEvent.controls?.receiverRole.invalid">
                                        <span *ngIf="mailEvent.controls.receiverRole.errors.required">{{
                                            labels.required | translate
                                        }}</span>
                                    </mat-error>
                                </mat-form-field>
                                <!-- emails -->
                                <app-mat-chips-input-form-field
                                    *ngIf="showTypeSelector(mailEvent, 'OTHER')"
                                    [matFormLabel]="labels.emails"
                                    [inputPlaceholder]="labels.emails"
                                    [fControl]="mailEvent.controls?.receiverEmails"
                                    [matFormFieldClasses]="'w100'"
                                    [inputPattern]="emailPattern"
                                    [errorPatternMessage]="labels.errorPatternMessage"
                                ></app-mat-chips-input-form-field>
                            </section>
                            <app-wf-events-conditions
                                [criteria]="mailEvent.get('workflowEventCondition.workflowEventConditionItems').value"
                                [criteriaOptions]="criteriaOptions"
                                [operators]="operators"
                                [escapedValue]="escapedValue"
                                (changed)="onCriteriaChanged()"
                            ></app-wf-events-conditions>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>

                <div [ngClass]="{ bordered: form.get('requiredSize')?.value }">
                    <mat-checkbox color="primary" formControlName="requiredSize"
                        >{{ labels.requiredSize | translate }}
                    </mat-checkbox>
                    <app-wf-events-conditions
                        *ngIf="form.get('requiredSize')?.value"
                        [criteria]="form.get('requiredSizeCriteriaConditions.workflowEventConditionItems').value"
                        [criteriaOptions]="criteriaOptions"
                        [operators]="operators"
                        [escapedValue]="escapedValue"
                        (changed)="onCriteriaChanged()"
                    ></app-wf-events-conditions>
                </div>

                <div [ngClass]="{ bordered: form.get('requiredUser')?.value }">
                    <mat-checkbox color="primary" formControlName="requiredUser" (change)="requiredUserChange('user')"
                        >{{ labels.requiredUser | translate }}
                    </mat-checkbox>
                    <app-wf-events-conditions
                        *ngIf="form.get('requiredUser')?.value"
                        [criteria]="form.get('requiredUserCriteriaConditions.workflowEventConditionItems').value"
                        [criteriaOptions]="criteriaOptions"
                        [operators]="operators"
                        [escapedValue]="escapedValue"
                        (changed)="onCriteriaChanged()"
                    ></app-wf-events-conditions>
                </div>

                <div [ngClass]="{ bordered: form.get('requiredMyself')?.value }">
                    <mat-checkbox color="primary" formControlName="requiredMyself" (change)="requiredUserChange('myself')"
                        >{{ labels.requiredMyself | translate }}
                    </mat-checkbox>
                    <app-wf-events-conditions
                        *ngIf="form.get('requiredMyself')?.value"
                        [criteria]="form.get('requiredMyselfCriteriaConditions.workflowEventConditionItems').value"
                        [criteriaOptions]="criteriaOptions"
                        [operators]="operators"
                        [escapedValue]="escapedValue"
                        (changed)="onCriteriaChanged()"
                    ></app-wf-events-conditions>
                </div>

                <div [ngClass]="{ bordered: form.get('requiredFields')?.value }">
                    <mat-checkbox color="primary" formControlName="requiredFields"
                        >{{ labels.requiredFields | translate }}
                    </mat-checkbox>

                    <mat-form-field
                        class="select-wrapper"
                        appearance="outline"
                        floatLabel="always"
                        *ngIf="form.get('requiredFields').value"
                    >
                        <mat-label>{{ labels.requiredFieldsList | translate }}</mat-label>
                        <mat-select formControlName="requiredFieldsList" multiple [compareWith]="compareFields">
                            <mat-option
                                *ngFor="let field of fieldsList"
                                [value]="field"
                                (onSelectionChange)="onOptionSelectionChange($event)"
                            >
                                {{ field.name | translate }}</mat-option
                            >
                        </mat-select>
                        <mat-error *ngIf="form.controls?.requiredFieldsList.invalid">
                            <span *ngIf="form.controls.requiredFieldsList.errors.required">{{
                                labels.required | translate
                            }}</span>
                        </mat-error>
                    </mat-form-field>
                    <div *ngIf="form.get('requiredFields')?.value && form.get('requiredFieldsList')?.value">
                        <div *ngFor="let field of form.get('workflowEventConditionsReqFields').value; let i = index">
                            <app-wf-events-conditions
                                [title]="getFieldNameFromTabId(field.tabItemId)"
                                [criteria]="field.workflowEventConditionItems"
                                [criteriaOptions]="criteriaOptions"
                                [operators]="operators"
                                [escapedValue]="escapedValue"
                                (changed)="onCriteriaChanged()"
                            ></app-wf-events-conditions>
                        </div>
                    </div>
                </div>

                <div [ngClass]="{ bordered: form.get('webservice')?.value }">
                    <mat-checkbox color="primary" formControlName="webservice"
                        >{{ labels.webservice | translate }}
                        <button mat-icon-button *ngIf="form.get('webservice')?.value" (click)="editWebService()">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </mat-checkbox>
                    <app-wf-events-conditions
                        *ngIf="form.get('webservice')?.value"
                        [criteria]="form.get('webserviceCriteriaConditions.workflowEventConditionItems').value"
                        [criteriaOptions]="criteriaOptions"
                        [operators]="operators"
                        [escapedValue]="escapedValue"
                        (changed)="onCriteriaChanged()"
                    ></app-wf-events-conditions>
                </div>

                <div [ngClass]="{ bordered: form.get('requiredAttachments')?.value }">
                    <mat-checkbox color="primary" formControlName="requiredAttachments">
                        <mat-label>{{ labels.requiredAttachment | translate }}</mat-label></mat-checkbox
                    >

                    <mat-form-field
                        class="select-wrapper"
                        appearance="outline"
                        floatLabel="always"
                        *ngIf="form.get('requiredAttachments').value"
                    >
                        <mat-label>{{ labels.requiredAttachmentsList | translate }}</mat-label>
                        <mat-select
                            formControlName="workflowSubstateEventRequiredAttachments"
                            multiple
                            [compareWith]="compareAttachments"
                        >
                            <mat-option
                                *ngFor="let field of attachmentList"
                                [value]="field"
                                (onSelectionChange)="updateCriteriaConditions($event, field)"
                            >
                                <div
                                    class="option-with-input"
                                    style="display: flex; align-items: center; justify-content: space-between"
                                >
                                    {{ generateDisplayName(field) | translate }}
                                    <mat-form-field appearance="standard" style="margin-left: 16px; width: auto">
                                        <input
                                            matInput
                                            type="number"
                                            [value]="field.numberInput"
                                            (input)="validateInput($event, field)"
                                            (click)="$event.stopPropagation()"
                                            style="padding: 0; width: 100%"
                                            min="1"
                                        />
                                    </mat-form-field>
                                </div>
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls?.workflowSubstateEventRequiredAttachments.invalid">
                            <span *ngIf="form.controls.workflowSubstateEventRequiredAttachments.errors.required">{{
                                labels.required | translate
                            }}</span>
                        </mat-error>
                    </mat-form-field>
                    <div
                        *ngIf="
                            form.get('workflowSubstateEventRequiredAttachments')?.value && form.get('requiredAttachments')?.value
                        "
                    >
                        <div *ngFor="let field of form.get('workflowSubstateEventRequiredAttachments').value; let i = index">
                            <app-wf-events-conditions
                                [title]="field.templateName + '-' + field.itemName"
                                [criteria]="field.criteriaConditions"
                                [criteriaOptions]="criteriaOptions"
                                [operators]="operators"
                                [escapedValue]="escapedValue"
                                (changed)="onCriteriaChanged()"
                            ></app-wf-events-conditions>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="event__config__section" *ngIf="eventType === 'MOV' && move">
            <h2 class="event__config__section__title">
                {{ labels.historical | translate }}
            </h2>

            <div class="event__config__section__wrapper">
                <mat-checkbox color="primary" formControlName="requiredHistoryComment"
                    >{{ labels.requiredHistoryComment | translate }}
                </mat-checkbox>
            </div>
        </section>
        <section class="event__config__section" *ngIf="eventType === 'MOV' && move">
            <h2 class="event__config__section__title">
                {{ labels.shortcut | translate }}
            </h2>

            <div class="event__config__section__wrapper">
                <div [ngClass]="{ bordered: form.get('shortcut')?.value }">
                    <div>
                        <mat-checkbox color="primary" formControlName="shortcut"
                            >{{ labels.shortcutDescription | translate }}
                        </mat-checkbox>
                    </div>

                    <mat-form-field
                        appearance="outline"
                        class="groupName"
                        floatLabel="always"
                        *ngIf="form.controls?.shortcut?.value"
                    >
                        <mat-label>{{ labels.movementGroup | translate }}</mat-label>
                        <input type="text" matInput formControlName="groupName" [matAutocomplete]="auto" />
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredGroupNames | async" [value]="option">
                                {{ option }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <mat-form-field
                        class="select-wrapper"
                        appearance="outline"
                        floatLabel="always"
                        *ngIf="form.controls?.shortcut?.value"
                    >
                        <mat-label>{{ labels.shortcutName | translate }}</mat-label>
                        <input matInput formControlName="shortcutName" />
                        <mat-error *ngIf="form.controls?.shortcutName.invalid">
                            <span *ngIf="form.controls.shortcutName.errors.required">{{ labels.required | translate }}</span>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field
                        class="select-wrapper"
                        appearance="outline"
                        floatLabel="always"
                        *ngIf="form.controls?.shortcut?.value"
                    >
                        <mat-label>{{ labels.shortcutColor | translate }}</mat-label>
                        <input matInput formControlName="shortcutColor" type="color" />
                        <mat-error *ngIf="form.controls?.shortcutColor.invalid">
                            <span *ngIf="form.controls.shortcutColor.errors.required">{{ labels.required | translate }}</span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </section>
        <section class="event__config__section" *ngIf="eventType === 'MOV' && move && !isTargetAndSourceSameWorkflow()">
            <h2 class="event__config__section__title">
                {{ labels.extraMovement | translate }}
            </h2>

            <div class="event__config__section__wrapper">
                <div [ngClass]="{ bordered: form.get('requiredMovementExtra')?.value }">
                    <div>
                        <mat-checkbox color="primary" formControlName="requiredMovementExtra"
                            >{{ labels.requiredMovementExtraDescription | translate }}
                        </mat-checkbox>
                    </div>
                    <div *ngIf="form.controls?.requiredMovementExtra?.value">
                        <mat-checkbox color="primary" formControlName="movementExtraAuto"
                            >{{ labels.movementExtraAutoDescription | translate }}
                        </mat-checkbox>
                    </div>

                    <mat-form-field
                        class="select-wrapper"
                        appearance="outline"
                        floatLabel="always"
                        *ngIf="form.get('requiredMovementExtra')?.value"
                        [matMenuTriggerFor]="attrSearcherMenu"
                    >
                        <mat-label>{{ labels.workflowSubstateTargetExtra | translate }}</mat-label>

                        <input matInput formControlName="workflowSubstateTargetExtra" readonly style="display: none" />
                        <div>
                            {{ getWorkflowTagetName() }}
                        </div>
                        <mat-error *ngIf="form.controls?.workflowSubstateTargetExtra.invalid">
                            <span *ngIf="form.controls.workflowSubstateTargetExtra.errors.required">{{
                                labels.required | translate
                            }}</span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </section>
    </form>
</div>

<button style="display: none" #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="attrSearcherMenu"></button>
<mat-menu #attrSearcherMenu="matMenu" class="attr-menu" (closed)="genericTreeNodeSearcher.resetFilter()">
    <app-generic-tree-node-searcher
        #genericTreeNodeSearcher
        [originalData]="allStatesAndSubstates"
        (nodeSelected)="nodeSelected($event)"
    ></app-generic-tree-node-searcher>
</mat-menu>
