@import 'utils/core';

.templates-container {
  padding: 48px;
  box-sizing: border-box;

  @include respond-to($tablet-small) {
    padding: 10px;
  }

  @include respond-to($mobile) {
    padding: 5px;
  }

  &__header {
    padding: 0 30px 25px 14px;
    @include respond-to($tablet-small) {
      padding: 0 5px 25px 0;
    }

    @include respond-to($mobile) {
      padding: 25px 5px;
    }
  }
}
