<div class="workflow-cards-permissions-content" fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!isModalModeActive()">
        <div class="workflow-cards-permissions-content__title mat-display-2">{{ labels.title | translate }}</div>
    </div>
    <div class="workflow-cards-permissions-content__form">
        <div class="workflow-cards-permissions-content__form__title">
            <h2>{{ labels.subtitle | translate }}</h2>
        </div>
        <div class="workflow-cards-permissions-content__form__subtitle">
            <p>{{ labels.text | translate }}</p>
        </div>
        <div class="workflow-cards-permissions-content__form__main" fxLayout="row">
            <div fxFlex="40" *ngIf="cardData">
                <div>
                    <h2>{{ labels.cardDetal | translate }}</h2>
                </div>
                <div class="workflow-cards-permissions-content__form__main__tabList">
                    <div fxLayout="row" class="workflow-cards-permissions-content__form__main__tabList__item">
                        <mat-checkbox
                            [checked]="allTabSelectedbWithPermissions()"
                            [indeterminate]="someTabSelectedbWithPermissions()"
                            (change)="selectAllTabs()"
                            (click)="$event.stopPropagation()"
                        ></mat-checkbox>
                        <span>{{ labels.all | translate }}</span>
                    </div>
                    <div *ngFor="let col of cardData.cols">
                        <h3>{{ col.name }}</h3>
                        <div
                            *ngFor="let tab of col.tabs"
                            class="workflow-cards-permissions-content__form__main__tabList__item"
                            [ngClass]="{ selected: tab?.id === selectedTab?.id }"
                            (click)="selectTabToShow(tab); $event.stopPropagation()"
                        >
                            <div>
                                <mat-checkbox
                                    [checked]="isTabSelected(tab)"
                                    (change)="addRemoveTabFromPermissions(tab)"
                                    (click)="$event.stopPropagation()"
                                ></mat-checkbox>
                                <span>{{ tab.name }}</span>
                            </div>
                            <div *ngIf="tab?.contentTypeId === 5 && templateAttachments[tab.id]?.length">
                                <div
                                    class="workflow-cards-permissions-content__form__main__tabList__item__subitem"
                                    [ngClass]="{ selected: tmpAtch?.id === selectedTempAttch?.id }"
                                    *ngFor="let tmpAtch of templateAttachments[tab.id]"
                                    (click)="selectTmpAtchToShow(tab, tmpAtch); $event.stopPropagation()"
                                >
                                    <mat-icon>subdirectory_arrow_right</mat-icon>
                                    Categoría: {{ tmpAtch.name }}
                                </div>
                            </div>
                            <div *ngIf="tab?.contentTypeId === 3 && getLinkTabItems(tab).length">
                                <div
                                    class="workflow-cards-permissions-content__form__main__tabList__item__subitem"
                                    [ngClass]="{ selected: linkItem?.id === selectedLinkItem?.id }"
                                    *ngFor="let linkItem of getLinkTabItems(tab)"
                                    (click)="selectLinkItemToShow(tab, linkItem); $event.stopPropagation()"
                                >
                                    <mat-icon>subdirectory_arrow_right</mat-icon>
                                    Link: {{ linkItem.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div fxFlex="56" fxFlexOffset="4" *ngIf="selectedTab && allPermisionForm">
                <div>
                    <h2>
                        {{ selectedTab.name }}
                        <span *ngIf="selectedTempAttch?.name"> - {{ selectedTempAttch?.name }}</span>
                        <span *ngIf="selectedLinkItem?.name"> - {{ selectedLinkItem?.name }}</span>
                    </h2>
                </div>
                <div class="workflow-cards-permissions-content__form__main__permissions" *ngIf="cardTabForm" fxLayout="column">
                    <div fxLayout="row" class="workflow-cards-permissions-content__form__main__permissions__header">
                        <div
                            fxFlex="40"
                            class="workflow-cards-permissions-content__form__main__permissions__item"
                            fxLayout="row"
                            fxLayoutAlign="start center"
                        >
                            <span>{{ labels.whoSees | translate }}</span>
                        </div>
                        <div
                            fxFlex="20"
                            class="workflow-cards-permissions-content__form__main__permissions__item"
                            fxLayout="row"
                            fxLayoutAlign="center center"
                        >
                            <span>{{ labels.hide | translate }}</span>
                        </div>
                        <div
                            fxFlex="20"
                            class="workflow-cards-permissions-content__form__main__permissions__item"
                            fxLayout="row"
                            fxLayoutAlign="center center"
                        >
                            <span>{{ labels.show | translate }}</span>
                        </div>
                        <div
                            fxFlex="20"
                            class="workflow-cards-permissions-content__form__main__permissions__item"
                            fxLayout="row"
                            fxLayoutAlign="center center"
                        >
                            <span>{{ labels.edit | translate }}</span>
                        </div>
                    </div>
                    <div fxLayout="row" [formGroup]="allPermisionForm">
                        <div
                            fxFlex="40"
                            class="workflow-cards-permissions-content__form__main__permissions__item"
                            fxLayout="row"
                            fxLayoutAlign="start center"
                        >
                            <span>{{ labels.all | translate }}</span>
                        </div>
                        <mat-radio-group fxFlex="60" fxLayout="row" formControlName="permission">
                            <div
                                fxFlex="33"
                                class="workflow-cards-permissions-content__form__main__permissions__item"
                                fxLayout="row"
                                fxLayoutAlign="center center"
                            >
                                <mat-radio-button value="HIDE" (click)="changeAllPermissions('HIDE')"></mat-radio-button>
                            </div>
                            <div
                                fxFlex="33"
                                class="workflow-cards-permissions-content__form__main__permissions__item"
                                fxLayout="row"
                                fxLayoutAlign="center center"
                            >
                                <mat-radio-button value="SHOW" (click)="changeAllPermissions('SHOW')"></mat-radio-button>
                            </div>
                            <div
                                fxFlex="33"
                                class="workflow-cards-permissions-content__form__main__permissions__item"
                                fxLayout="row"
                                fxLayoutAlign="center center"
                            >
                                <mat-radio-button value="EDIT" (click)="changeAllPermissions('EDIT')"></mat-radio-button></div
                        ></mat-radio-group>
                    </div>
                    <div fxLayout="row">
                        <mat-divider></mat-divider>
                    </div>
                    <div fxLayout="row" *ngFor="let permission of workflowCardPermissions" [formGroup]="permission">
                        <div
                            fxFlex="40"
                            class="workflow-cards-permissions-content__form__main__permissions__item"
                            fxLayout="row"
                            fxLayoutAlign="start center"
                        >
                            <span>{{ permission?.value?.role?.name }}</span>
                        </div>
                        <mat-radio-group formControlName="permissionType" fxFlex="60" fxLayout="row">
                            <div
                                fxFlex="33"
                                class="workflow-cards-permissions-content__form__main__permissions__item"
                                fxLayout="row"
                                fxLayoutAlign="center center"
                            >
                                <mat-radio-button value="HIDE"></mat-radio-button>
                            </div>
                            <div
                                fxFlex="33"
                                class="workflow-cards-permissions-content__form__main__permissions__item"
                                fxLayout="row"
                                fxLayoutAlign="center center"
                            >
                                <mat-radio-button value="SHOW"></mat-radio-button>
                            </div>
                            <div
                                fxFlex="33"
                                class="workflow-cards-permissions-content__form__main__permissions__item"
                                fxLayout="row"
                                fxLayoutAlign="center center"
                            >
                                <mat-radio-button value="EDIT"></mat-radio-button></div
                        ></mat-radio-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="workflow-cards-permissions-content__buttons">
        <!-- TODO: buttons used when the component is not opened with customDialogService -->
    </div>
</div>
