.clients-wrapper {
    min-width: 650px;
    .table-clients {
      margin-top: 43px;
      .mat-column-fullName {
        flex: 0 0 70%;
      }
      .mat-column-dni,
      .mat-column-address,
      .mat-column-phone,
      .mat-column-email,
      .mat-column-actions {
        flex: 0 0 10%;
      }
      .mat-column-actions {
        text-align: center;
      }
    }
  }
  