@import 'utils/core';
@import 'utils/theme';
.entities-searcher {
  position: relative;
  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      margin-bottom: 0px;
    }
  }
  &__form {
    margin-top: 30px;
    &__search {
      mat-form-field {
        width: 100%;
        max-width: 500px;
      }
    }
    &__error {
      width: 100%;
      max-width: 500px;
      height: 60px;
      border-radius: 6px;
      background-color: rgba(mat-color($primary, statusError), 0.1);
      color: mat-color($primary, statusError);
      margin: 15px 0;
      mat-icon {
        padding-right: 10px;
      }
    }
    &__content {
      margin-top: 15px;
      &__item {
        margin-top: 5px;
        &__label {
          font-weight: 600;
        }
        &__error {
          color: mat-color($primary, statusError);
        }
      }
    }
  }
}
