<div class="entities-searcher">
    <div class="entities-searcher__header">
        <h2>{{ getTitle() | translate }}</h2>
        <button mat-button class="close-button" (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="entities-searcher__form">
        <form [formGroup]="searchForm" class="entities-searcher__form__search">
            <mat-form-field
                appearance="outline"
                class="smaller-mat-form-fields__no-margin smaller-mat-form-fields__button-height"
            >
                <input
                    type="text"
                    matInput
                    [placeholder]="labels.search | translate"
                    formControlName="search"
                    [matAutocomplete]="auto"
                />
                <button mat-icon-button aria-label="Search" type="button" matSuffix>
                    <mat-icon>search</mat-icon>
                </button>
                <mat-autocomplete autoActiveFirstOption="false" #auto="matAutocomplete" (optionSelected)="selectEntity()">
                    <mat-option *ngFor="let entity of entityList" [value]="entity">
                        {{ transformOptionLabel(entity) }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
        <div class="entities-searcher__form__error" fxLayout="row" fxLayoutAlign="center center" *ngIf="showError()">
            <mat-icon>error_outline</mat-icon><span>{{ getErrorMsg() }}</span>
        </div>
    </div>
    <div class="entities-searcher__button" fxLayout="row" fxLayoutAlign="space-around end">
        <button mat-stroked-button *ngIf="showCreateEntity()" (click)="createEntity()">
            {{ getCreateEntityButtonLabel() | translate }}
        </button>
        <button mat-stroked-button *ngIf="showCreateEntity()" (click)="createEntity(true)">
            {{ getImportEntityButtonLabel() | translate }}
        </button>
    </div>
</div>
