#Aquí se referencia el package registry
@frontend:registry=https://gitlab.alten.es/api/v4/packages/npm/
#Referencia al proyecto de JengaLibrary
@frontend:registry=https://gitlab.alten.es/api/v4/projects/364/packages/npm/

#Esto será necesario para descargar el paquete si el package registry se encuentra en un proyecto o un grupo privado
//gitlab.alten.es/api/v4/packages/npm/:_authToken="${NPM_TOKEN}"
