<div class="card-messages">
    <div class="card-messages__wrapper">
        <div
            class="card-messages__wrapper__message"
            *ngFor="let message of messages"
            [ngClass]="{ client: message.sender !== 'CUSTOMER' }"
        >
            <div class="fullname">
                {{ getUserFullname(message) }}
            </div>
            <div class="icons" *ngIf="message.sender === 'USER'">
                <mat-icon *ngIf="checkMessageChannel(message, 1)">person_pin</mat-icon>
                <mat-icon *ngIf="checkMessageChannel(message, 2)">alternate_email</mat-icon>
                <mat-icon *ngIf="checkMessageChannel(message, 3)">message</mat-icon>
                <mat-icon fontSet="concenet" class="whatsapp" *ngIf="checkMessageChannel(message, 4)">whatsapp</mat-icon>
                <mat-icon fontSet="concenet" *ngIf="checkMessageSignature(message)">signature</mat-icon>
            </div>
            <div class="date">
                {{ message.dateComment | date : "dd/MM/yy, HH:mm" }}
            </div>
            <div class="message" [innerHtml]="message.comment"></div>
            <div class="openConversation" fxLayout="row" fxLayoutAlign="center start" *ngIf="showConversationButton(message)">
                <button mat-button (click)="openConversation(message)">
                    <span> {{ labels.openConversation | translate }} </span>
                </button>
            </div>
        </div>
    </div>
</div>
