@import 'utils/core';
@import 'utils/theme';

.create-edit-block-content {
  width: 100%;
  padding-right: 15px;
  &__form {
    width: 100%;
    .block-data__section {
      &__title {
        margin: 0 0 5px 0;
        &.first-child {
          margin-top: 0px;
        }
      }
      &__info {
        margin: 0 0 5px 0;
        line-height: 38px;
      }
      &__group {
        &.grid-group {
          display: grid;
          justify-items: start;
          gap: 1rem;
          grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        }
        &.flex-group {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          &.space-between {
            justify-content: space-between;
            mat-form-field {
              width: 45%;
            }
          }
          section {
            width: 100%;
            .multiple-mat-select {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .pt-checkbox {
    padding-top: 10px;
  }
}
