@import 'utils/core';
@import 'utils/theme';

.checklist-sign {
  width: calc(100% - 20px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 5px;
  &__no-data {
    width: 105%;
    position: absolute;
    flex-direction: column;
    display: flex;
    place-content: flex-start;
    align-items: center;
    height: 100%;
    top: 0;
    z-index: 150;
    padding-top: 50px;
    color: mat-color($primary, 900);
    background-color: rgba(mat-contrast($primary, 200), 0.5);
    &.opacity0 {
      z-index: -5;
      pointer-events: none;
    }
  }
  &__accordion {
    width: 100%;
    mat-accordion {
      width: 100%;
      height: calc(100vh - 160px);
      &.main-accordion {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }
      mat-expansion-panel {
        padding: 0 5px;
        max-height: 100%;
        .firma_canvas_wrapper {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &.expansion-panel-fields {
          width: 40%;
          padding: 0;
          & > .mat-expansion-panel-content {
            background-color: mat-contrast($primary, 500);
          }
        }
        &.expansion-panel-pdf {
          width: 60%;
          background-color: rgb(243, 243, 243);
        }
        .fields-wrapper {
          max-height: calc(100vh - 230px);
          overflow-y: auto;
        }
      }

      @include respond-to(1000px) {
        &.main-accordion {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        mat-expansion-panel {
          &.expansion-panel-fields {
            width: 100%;
          }
          &.expansion-panel-pdf {
            width: 100%;
          }
        }
      }
    }
  }
  &__form {
    width: 100%;
    .template-data__section {
      &__title {
        margin: 0 0 5px 0;
        &.first-child {
          margin-top: 0px;
        }
      }
      &__info {
        margin: 0 0 5px 0;
        line-height: 38px;
      }
      &__group {
        &.grid-group {
          display: grid;
          justify-items: center;
          gap: 1rem;
          grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
          margin-bottom: 10px;
          app-organization-levels-nested-combos {
            display: contents;
          }
        }
        &__title {
          padding-bottom: 0px;
          text-transform: uppercase;
          margin-bottom: 0px;
          padding-right: 0.5rem;
          &::after {
            content: ':';
          }
        }
      }
    }
  }

  &__pdf {
    position: relative;
    &__spinner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 150;
      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: none;
    }
    .paint-zone-controls {
      margin-top: -10px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__footer {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
  }

  .inputColor {
    width: 35px;
    height: 35px;
  }

  .section-margin-bottom {
    margin-bottom: 20px;
  }

  .image-input-preview {
    width: 150px;
    height: 100px;
    border: 1px solid mat-color($primary, 700);
    overflow: hidden;
    border-radius: 5px;
    img {
      width: 100%;
      height: 100%;
      inline-size: auto;
    }
  }

  .opacity0 {
    opacity: 0;
  }
}
.change-sign-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(mat-contrast($primary, 200), 0.5);
}

.checklist-footer {
  width: 100%;
  min-height: 65px;
  position: absolute;
  bottom: 0;
  padding: 5px 20px;
  background-color: mat-contrast($primary, 400);
  &__error {
    color: mat-color($primary, statusError);
  }
}

.checklistItemToDrag {
  // Si modificamos este margin hay que cambiarlo también en la función drop
  position: absolute;
  height: auto;
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .resizable {
    position: relative;
    .p5Canvas {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1500;
    }
  }

  &.undropped {
    opacity: 0;
  }
  &__box {
    margin: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border: 1px solid rgba(25, 28, 221, 0.349);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    position: relative;

    .checklistItemToDrag__orderNumber {
      position: absolute;
      font-size: 0.75em;
      top: -20px;
      left: -20px;
      background-color: rgba(6, 8, 153, 0.473);
      min-width: 15px;
    }
  }
  &__orderNumber {
    background-color: rgba(6, 8, 153, 0.918);
    padding: 5px;
    border: 1px solid white;
    color: white;
    border-radius: 15px;
    min-width: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.selected {
      background-color: #0020ffea;
    }
  }
}
