<div class="checklist-sign">
    <div class="checklist-sign__no-data" [ngClass]="{ opacity0: pdfLoaded }">
        <h2>{{ labels.loadingPdfWait | translate }}.</h2>
        <div fxLayoutAlign="center center" style="width: 100%">
            <mat-spinner matSuffix class="spinner" diameter="50"></mat-spinner>
        </div>
    </div>
    <div class="checklist-sign__accordion" [ngClass]="{ opacity0: !pdfLoaded }">
        <mat-accordion class="main-accordion" [hideToggle]="!smallModal" [multi]="!smallModal" [displayMode]="'flat'">
            <mat-expansion-panel #fieldsPanel class="expansion-panel-fields" [expanded]="true" [disabled]="!smallModal">
                <mat-expansion-panel-header>
                    <mat-panel-title> {{ labels.itemsInTemplate | translate }}</mat-panel-title>
                </mat-expansion-panel-header>
                <div class="fields-wrapper">
                    <!-- Group by type -->
                    <mat-accordion [multi]="true">
                        <mat-expansion-panel
                            *ngFor="let groupByType of itemListToShow; let i = index"
                            (opened)="expansionPanelOpened['group-' + groupByType.typeItem] = true"
                            (closed)="expansionPanelOpened['group-' + groupByType.typeItem] = false"
                            [expanded]="expansionPanelOpened['group-' + groupByType.typeItem]"
                        >
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{ groupByType.typeLabel }}
                                </mat-panel-title>
                                <mat-panel-description fxLayoutAlign="flex-end center">
                                    <!-- <div fxLayout="column" fxLayoutAlign="flex-start center">
                                        <label> Id's: {{ groupByType.orderNumbers.join(", ") }} </label>
                                    </div> -->
                                    <!-- Show in page -->
                                    <div class="smaller-mat-form-fields">
                                        {{ labels.showInPage | translate }}:
                                        <mat-form-field style="width: 45px; margin-left: 5px" (click)="$event.stopPropagation()">
                                            <mat-select [ngModel]="page" (selectionChange)="changePage($event.value)">
                                                <mat-option *ngFor="let p of groupByType.numPages" [value]="p">
                                                    {{ p }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <!-- Group by sync -->
                            <mat-accordion [multi]="true" [displayMode]="'flat'">
                                <mat-expansion-panel
                                    *ngFor="let syncGroup of groupByType.syncGroups; let i = index"
                                    (opened)="expansionPanelOpened['sync-' + syncGroup.sincronizedItems.join('-')] = true"
                                    (closed)="expansionPanelOpened['sync-' + syncGroup.sincronizedItems.join('-')] = false"
                                    [expanded]="expansionPanelOpened['sync-' + syncGroup.sincronizedItems.join('-')]"
                                >
                                    <mat-expansion-panel-header>
                                        <mat-panel-title fxLayoutAlign="flex-start center" class="panel-title-clickable-ids">
                                            <div
                                                class="checklistItemToDrag__orderNumber"
                                                [ngClass]="{ selected: syncGroup.selectedItem === ordN }"
                                                *ngFor="let ordN of syncGroup.sincronizedItems"
                                                (click)="
                                                    $event.stopPropagation();
                                                    changePage(groupByType.orderNumberPageAssociation[ordN]);
                                                    syncGroup.selectedItem = ordN
                                                "
                                            >
                                                {{ ordN }}
                                            </div>
                                        </mat-panel-title>
                                        <mat-panel-description fxLayoutAlign="flex-end center">
                                            <label> {{ getSyncGroupLabel(syncGroup) }} </label>
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <form
                                        [formGroup]="getChecklistItemByOrderNumber(syncGroup.selectedItem)"
                                        *ngIf="getChecklistItemByOrderNumber(syncGroup.selectedItem)"
                                        class="smaller-mat-form-fields"
                                    >
                                        <section
                                            *ngIf="groupByType.typeItem === 'TEXT'"
                                            formGroupName="itemVal"
                                            class="section-margin-bottom"
                                        >
                                            <mat-form-field
                                                appearance="outline"
                                                floatLabel="always"
                                                class="text-area"
                                                style="width: 100%"
                                            >
                                                <mat-label>{{ labels.insertTextHere | translate }}</mat-label>
                                                <textarea
                                                    matInput
                                                    formControlName="textValue"
                                                    cdkTextareaAutosize
                                                    cdkAutosizeMinRows="5"
                                                    cdkAutosizeMaxRows="5"
                                                ></textarea>
                                            </mat-form-field>
                                        </section>
                                        <section *ngIf="groupByType.typeItem === 'DRAWING'" class="section-margin-bottom">
                                            <button
                                                mat-raised-button
                                                color="primary"
                                                (click)="
                                                    changePage(groupByType.orderNumberPageAssociation[syncGroup.selectedItem])
                                                "
                                            >
                                                <label
                                                    >{{ labels.showInPage | translate }}:
                                                    {{ groupByType.orderNumberPageAssociation[syncGroup.selectedItem] }}</label
                                                >
                                            </button>
                                        </section>
                                        <section
                                            *ngIf="groupByType.typeItem === 'CHECK'"
                                            formGroupName="itemVal"
                                            class="section-margin-bottom"
                                        >
                                            <mat-checkbox formControlName="booleanValue">{{
                                                getLabelForOrderNumber(syncGroup.selectedItem)
                                            }}</mat-checkbox>
                                        </section>
                                        <section *ngIf="groupByType.typeItem === 'SIGN'" class="section-margin-bottom">
                                            <div fxLayoutAlign="space-between center">
                                                <button
                                                    mat-raised-button
                                                    color="primary"
                                                    class="add-static-image-btn"
                                                    (click)="changeSign(syncGroup.selectedItem)"
                                                >
                                                    <label>{{ labels.changeSign | translate }}</label>
                                                </button>
                                                <div
                                                    class="image-input-preview"
                                                    fxLayoutAlign="center center"
                                                    (click)="changeSign(syncGroup.selectedItem)"
                                                >
                                                    <img [src]="getImagePreviewBase64(syncGroup.selectedItem)" />
                                                </div>
                                            </div>
                                        </section>
                                        <section *ngIf="groupByType.typeItem === 'IMAGE'" class="section-margin-bottom">
                                            <mat-form-field appearance="outline" style="width: 100%">
                                                <mat-label>{{ labels.selectCardAttachmentImage | translate }}</mat-label>
                                                <mat-select
                                                    (selectionChange)="imageAttachmentSelected($event, syncGroup.selectedItem)"
                                                >
                                                    <mat-option></mat-option>
                                                    <mat-optgroup
                                                        *ngFor="let group of attachmentsByGroup"
                                                        [label]="group.tabName"
                                                    >
                                                        <mat-option
                                                            *ngFor="let attachment of group.attachments"
                                                            [value]="attachment"
                                                        >
                                                            {{ attachment.name }}
                                                        </mat-option>
                                                    </mat-optgroup>
                                                </mat-select>
                                            </mat-form-field>
                                            <div fxLayoutAlign="space-between center">
                                                <button
                                                    mat-raised-button
                                                    color="primary"
                                                    class="add-static-image-btn"
                                                    (click)="
                                                        selectedItemToUploadImage = syncGroup.selectedItem; staticImage.click()
                                                    "
                                                >
                                                    <label>{{ labels.uploadImage | translate }}</label>
                                                </button>
                                                <div class="image-input-preview" fxLayoutAlign="center center">
                                                    <img [src]="getImagePreviewBase64(syncGroup.selectedItem)" />
                                                </div>
                                            </div>
                                        </section>
                                    </form>
                                </mat-expansion-panel>
                                <label *ngIf="itemListToShow?.length === 0">{{ labels.noData | translate }}</label>
                            </mat-accordion>
                        </mat-expansion-panel>
                        <label *ngIf="itemListToShow?.length === 0">{{ labels.noData | translate }}</label>

                        <img [src]="debugData" />
                    </mat-accordion>
                </div>

                <div class="change-sign-wrapper" *ngIf="showChangeSign">
                    <app-change-sign
                        (saveEvent)="changeSignAction($event)"
                        (closeEvent)="showChangeSign = false"
                    ></app-change-sign>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel
                class="expansion-panel-pdf checklist-sign__pdf"
                [expanded]="!smallModal ? true : false"
                [disabled]="!smallModal"
            >
                <mat-expansion-panel-header [ngClass]="{ hidden: !smallModal }">
                    <mat-panel-title> {{ labels.pdfPreview | translate }}</mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngIf="renderingDrawingItems" class="checklist-sign__pdf__spinner">
                    <mat-spinner matSuffix class="spinner" diameter="50"></mat-spinner>
                </div>
                <div class="paint-zone-controls">
                    <div class="type">
                        <input type="radio" name="pen-type" id="sign-document-pen-pencil" class="pen-pencil" checked />
                        <label for="pen-pencil">
                            <mat-icon>edit</mat-icon>
                        </label>
                        <!-- <input type="radio" name="pen-type" id="sign-document-pen-brush" class="pen-brush" />
                        <label for="pen-brush">
                            <mat-icon>brush</mat-icon>
                        </label> -->
                        <input type="radio" name="pen-type" id="sign-document-pen-eraser" class="pen-eraser" />
                        <label for="pen-eraser">
                            <mat-icon>edit_off</mat-icon>
                        </label>
                    </div>
                    <div class="size">
                        <input type="range" id="sign-document-pen-size" class="pen-size" min="1" max="30" value="3" />
                    </div>
                    <div class="color">
                        <input type="color" id="sign-document-pen-color" class="pen-color" value="#000" />
                    </div>
                </div>
                <!-- Pdf preview -->
                <ng-container class="checklist-sign__pdf__viewer" *ngIf="fileTemplateBase64 | async as base64">
                    <ngx-extended-pdf-viewer
                        id="checklistPDF"
                        [base64Src]="base64"
                        height="96%"
                        [minHeight]="getPdfMinHeight()"
                        [handTool]="false"
                        [useBrowserLocale]="true"
                        [zoom]="'page-fit'"
                        [zoomLevels]="['page-fit']"
                        [showZoomButtons]="true"
                        [showHandToolButton]="false"
                        [showPresentationModeButton]="false"
                        [showUnverifiedSignatures]="true"
                        [showRotateButton]="false"
                        [showFindButton]="false"
                        [showPrintButton]="false"
                        [showSpreadButton]="false"
                        [showDownloadButton]="false"
                        [showOpenFileButton]="false"
                        [(page)]="page"
                        (pageRendered)="pageRendered($event)"
                        (pdfLoaded)="pdfLoadedFn($event)"
                        (zoomChange)="pdfZoomChange($event)"
                        [textLayer]="false"
                        [(formData)]="formData"
                    >
                    </ngx-extended-pdf-viewer>
                    <!-- (textLayerRendered)="textLayerRendered($event)" -->
                </ng-container>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="checklist-sign__footer">
        <button mat-flat-button color="primary" (click)="save()">
            {{ labels.save | translate }}
        </button>
    </div>
</div>

<input
    type="file"
    style="display: none"
    #staticImage
    accept="image/*"
    id="staticImage"
    (change)="addStaticImage($event.target.files)"
/>
<div class="checklistItemToDrag undropped" id="checklistItemToDrag">
    <div class="resizable" style="height: 50px; width: 124px">
        <div class="checklistItemToDrag__box checklistItemToDrag__label"></div>
    </div>
</div>
