<div
    class="workflow-card"
    [ngClass]="cardSize"
    cdkDrag
    [cdkDragStartDelay]="dragStartDelay"
    (cdkDragStarted)="setCardDragging(true)"
    (cdkDragReleased)="setCardDragging(false)"
    (click)="showCardInfo()"
>
    <!-- DGDC: descomentar en el momento en el que se pueda ordenar dentro de un mismo subestado -->
    <!-- <div class="workflow-card__placeholder" [ngClass]="cardSize" *cdkDragPlaceholder></div> -->
    <div class="workflow-card__colors">
        <div
            class="workflow-card__colors__color"
            *ngFor="let color of getColors()"
            [style.background-color]="color"
            [ngClass]="getColorsClass()"
        ></div>
    </div>
    <div class="workflow-card__info">
        <!-- CardId: {{ card.id }} - OrderNumber: {{ card.orderNumber }} -->
        <div *ngFor="let tabItem of card.tabItems" class="workflow-card__info__data">
            {{ getLabel(tabItem) }}
        </div>
    </div>
</div>
