<div
    class="workflow-card"
    [ngClass]="cardSize"
    cdkDrag
    [cdkDragStartDelay]="dragStartDelay"
    (cdkDragStarted)="setCardDragging(true)"
    (cdkDragReleased)="setCardDragging(false)"
    (click)="showCardInfo()"
>
    <div class="workflow-card__placeholder" [ngClass]="cardSize" *cdkDragPlaceholder></div>
    <div class="workflow-card__colors">
        <div
            class="workflow-card__colors__color"
            *ngFor="let color of getColors()"
            [style.background-color]="color"
            [ngClass]="getColorsClass()"
        ></div>
    </div>
    <div class="workflow-card__info">
        <!-- CardId: {{ card.id }} - OrderNumber: {{ card.orderNumber }} -->
        <div *ngFor="let tabItem of card.tabItems" class="workflow-card__info__data">
            {{ getLabel(tabItem) }}
        </div>
        <div
            class="workflow-card__info__tasks"
            [ngClass]="{ completed: card.countCompletedTasks === card.countTotalTasks }"
            *ngIf="card.countTotalTasks > 0"
            (click)="showTasks(); $event.stopPropagation()"
        >
            {{ card.countCompletedTasks }}/{{ card.countTotalTasks }}
            <mat-icon>check_box</mat-icon>
        </div>
    </div>
</div>
