<div
    class="workflow-card"
    cdkDrag
    cdkDragBoundary=".board-view-wrapper"
    (cdkDragStarted)="setCardDragging(true)"
    (cdkDragReleased)="setCardDragging(false)"
    (click)="showCardInfo()"
>
    <div class="workflow-card__placeholder" *cdkDragPlaceholder></div>
    <div class="workflow-card__colors">
        <div
            class="workflow-card__colors__color"
            *ngFor="let color of getColors()"
            [style.background-color]="color"
            [ngClass]="getColorsClass()"
        ></div>
    </div>
    <div class="workflow-card__info">
        <div *ngFor="let slot of card.variableSlots" class="workflow-card__info__data">
            {{ getLabel(slot) }}
        </div>
    </div>
</div>
