<div class="vehicles-container">
    <div class="vehicles-container__header">
        <app-administration-common-header-section
            #vehiclesHeader
            [searchType]="'search'"
            [buttonLabel]="labels.createVehicle"
            [showFilterButton]="false"
            [areFiltersSettedAndActive]="false"
            [title]="'entities.vehicles.title'"
            (buttonCreateAction)="buttonCreateAction()"
        ></app-administration-common-header-section>
    </div>
    <app-vehicles-list #vehiclesList></app-vehicles-list>
</div>
