@import 'utils/core';
@import 'utils/theme';
.accountings {
  .color-primary {
    color: mat-color($primary, 500);
  }
  .bold {
    font-weight: bold;
  }
  &__main {
    padding: 10px;
    height: 95%;
    overflow-y: auto;
    &__line {
      flex-wrap: wrap;
      .value {
        font-weight: bold;
      }
      mat-form-field {
        margin-right: -20px;
        margin-bottom: -23px;
      }
      &.item {
        height: 55px;
        background-color: rgba(mat-color($primary, 100), 20%);
        border-bottom: 1px solid mat-color($primary, 100);

        .description {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
        .actions {
          mat-icon {
            font-size: 1.3em;
          }
          .mat-badge-content {
            width: 15px !important;
            height: 15px !important;
            line-height: 15px !important;
          }
          .mat-badge-medium.mat-badge-overlap.mat-badge-before .mat-badge-content {
            left: 0 !important;
          }
        }
      }
    }
    &__header {
      &.subheader {
        background-color: rgba(mat-color($primary, 100), 9%);
        border-bottom: 1px solid mat-color($primary, 100);
      }
      &__item {
        font-weight: 600;
        height: 40px;
      }
      &.mt-20 {
        margin-top: 20px;
      }
    }
    &__container {
      &__item {
        height: 75px;
        background-color: rgba(mat-color($primary, 100), 20%);
        border-bottom: 1px solid mat-color($primary, 100);
        mat-form-field {
          padding-top: 20px;
          max-width: 90%;
        }
        .description {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
        .observation {
          color: mat-contrast($primary, 50);
          font-size: 0.95em;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        .actions {
          mat-icon {
            font-size: 1.3em;
          }
          .mat-badge-content {
            width: 15px !important;
            height: 15px !important;
            line-height: 15px !important;
          }
          .mat-badge-medium.mat-badge-overlap.mat-badge-before .mat-badge-content {
            left: 0 !important;
          }
        }
      }
    }
    &__create {
      padding: 15px 0;
      &__item {
        font-weight: 600;
        color: mat-color($primary, A700);
        cursor: pointer;
      }
    }
    .bold {
      font-weight: 600;
    }
    .summatory-line {
      height: 55px !important;
    }
  }
  &__button {
    padding: 20px;
    height: 80px;
  }
}
