<div class="create-edit-vehicle-content" fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!isModalModeActive()">
        <div class="create-edit-vehicle-content__title mat-display-2">{{ labels.title | translate }}</div>
    </div>
    <div class="create-edit-vehicle-content__form">
        <form [formGroup]="vehicleForm" *ngIf="vehicleForm" class="smaller-mat-form-fields">
            <!-- General Data -->
            <div class="vehicle-data__section">
                <div class="vehicle-data__section__title first-child">
                    {{ labels.data | translate }}
                </div>
                <div class="vehicle-data__section__group">
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>{{ labels.facility | translate }}</mat-label>
                        <mat-select formControlName="facility">
                            <mat-option *ngFor="let facility of facilityAsyncList | async" [value]="facility">{{
                                facility.name
                            }}</mat-option>
                        </mat-select>
                        <mat-error class="facility-data__error" *ngIf="form.facility.invalid && form.facility.touched">
                            <span *ngIf="form.facility.errors.required">{{ labels.required | translate }}</span>
                        </mat-error>
                    </mat-form-field>
                    <!-- licensePlate -->
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>{{ labels.licensePlate | translate }}</mat-label>
                        <input matInput formControlName="licensePlate" />
                    </mat-form-field>
                    <!-- vin -->
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>{{ labels.vin | translate }}</mat-label>
                        <input matInput formControlName="vin" (change)="changeVin()" />
                    </mat-form-field>
                    <!-- make -->
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>{{ labels.make | translate }}</mat-label>
                        <input matInput formControlName="make" />
                    </mat-form-field>
                    <!-- model -->
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>{{ labels.model | translate }}</mat-label>
                        <input matInput formControlName="model" />
                    </mat-form-field>
                    <!-- description -->
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>{{ labels.description | translate }}</mat-label>
                        <input matInput formControlName="description" />
                    </mat-form-field>
                    <!-- vehicleId -->
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>{{ labels.vehicleId | translate }}</mat-label>
                        <input matInput formControlName="vehicleId" readonly />
                    </mat-form-field>
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>{{ labels.variants | translate }}</mat-label>
                        <mat-select formControlName="variantCode" [disabled]="form.commissionNumber.value">
                            <mat-option *ngFor="let variant of variants | keyvalue" [value]="variant.key">{{
                                variant.value
                            }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="vehicle-data__section__title first-child">
                    {{ labels.orderData | translate }}
                </div>
                <div class="vehicle-data__section__group">
                    <!-- commissionNumber -->
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>{{ labels.commissionNumber | translate }}</mat-label>
                        <input matInput formControlName="commissionNumber" (change)="changeCommissionNumber()" />
                    </mat-form-field>
                    <!-- Facility -->
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>{{ labels.facilityStock | translate }}</mat-label>
                        <mat-select formControlName="facilityStock" [disabled]="!form.commissionNumber.value">
                            <mat-option *ngFor="let facility of facilityList" [value]="facility">{{ facility.name }}</mat-option>
                        </mat-select>
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="removeFacility(); $event.stopPropagation()">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-error *ngIf="form?.facilityStock.invalid">
                            <span *ngIf="form.facilityStock.errors.required"> {{ labels.required | translate }} </span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="users-container">
                <div class="users-container__section">
                    <div class="users-container__section__title">
                        <h1>Listado de clientes del vehiculo</h1>

                        <button (click)="openModalAddCustomer()" mat-raised-button color="primary">
                            + <span class="create-action__normal-label">Añadir cliente</span>
                        </button>
                    </div>
                    <div class="users-container__section__content">
                        <mat-accordion class="header-color-primary" multi>
                            <mat-expansion-panel class="mat-elevation-z2" [expanded]="true">
                                <mat-expansion-panel-header> </mat-expansion-panel-header>
                                <table mat-table [dataSource]="vehicleCustomersList" style="width: 100%">
                                    <!-- fullname Column -->
                                    <ng-container matColumnDef="fullName">
                                        <th mat-header-cell *matHeaderCellDef>Nombre</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span>&nbsp;&nbsp;{{ element.customer.fullName }}&nbsp; </span>
                                        </td>
                                    </ng-container>

                                    <!-- dni Column -->
                                    <ng-container matColumnDef="dni">
                                        <th mat-header-cell *matHeaderCellDef>DNI</th>
                                        <td mat-cell *matCellDef="let element">
                                            {{ element.customer.socialSecurityId }}
                                        </td>
                                    </ng-container>

                                    <!-- relate Column -->
                                    <ng-container matColumnDef="relate">
                                        <th mat-header-cell *matHeaderCellDef>Relación</th>
                                        <td mat-cell *matCellDef="let element; let i = index">
                                            <mat-form-field appearance="outline" floatLabel="always" style="width: 100%">
                                                <mat-label>Selecciona relación</mat-label>
                                                <mat-select
                                                    [value]="element.relationship"
                                                    (selectionChange)="onSelectionChange($event, element)"
                                                >
                                                    <mat-option *ngFor="let option of relationOptions" [value]="option.value">
                                                        {{ option.name }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </td>
                                    </ng-container>

                                    <!-- actions Column -->
                                    <ng-container matColumnDef="actions">
                                        <th mat-header-cell style="width: 15%; text-align: center" *matHeaderCellDef>Acciones</th>
                                        <td
                                            mat-cell
                                            style="width: 15%; text-align: center"
                                            *matCellDef="let element"
                                            class="action-buttons no-ellipsis"
                                        >
                                            <button mat-icon-button aria-label="details">
                                                <mat-icon (click)="(null)">delete</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>

                                    <!-- Table headers and rows -->
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" style="text-align: center" [attr.colspan]="displayedColumns.length">
                                            No hay información
                                        </td>
                                    </tr>
                                </table>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="create-edit-vehicle-content__buttons">
        <!-- TODO: buttons used when the component is not opened with customDialogService -->
    </div>
</div>
