@import '@angular/material/theming';
@import 'utils/core';
@import 'app/modules/app-modules/administration/cards/components/custom-column/custom-column.component.scss-theme.scss';
@import 'app/modules/app-modules/administration/cards/components/custom-actions/custom-actions.component.scss-theme.scss';

@mixin create-edit-card-component-theme($theme, $main-typo) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .create-cards-container {
    &__side {
      &__header {
        &__section {
          &__title {
            color: mat-color($foreground, secondary-text);
          }
        }
      }
      &__section {
        &__column {
          &--selected {
            color: mat-color($primary, 700);
          }
          &--invalid {
            color: mat-color($primary, statusError);
          }
        }
      }
    }

    &__footer {
      background-color: mat-color($background, background);
    }
  }
  
  @include custom-column-component-theme($theme, $main-typo);
  @include custom-actions-component-theme($theme, $main-typo);
}
