.custom-dialog {
  &__footer {
    flex-direction: row-reverse;
    box-sizing: border-box;
    display: flex;
    place-content: center space-between;
    align-items: center;
    @media (max-width: 600px) {
      flex-direction: column;
      place-content: flex-start;
      align-items: flex-start;
    }
  }
}
