<div class="save-fav">
    <form [formGroup]="advSearchForm" class="save-fav__form" *ngIf="advSearchForm">
        <div class="save-fav__form__row">
            <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>{{ labels.name | translate }}</mat-label>
                <input type="text" matInput formControlName="name" />
                <mat-error *ngIf="form.name.invalid && form.name.touched">
                    {{ labels.required | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="save-fav__form__row" *ngIf="isAdmin">
            <mat-checkbox formControlName="allUsers">{{ labels.allUsers | translate }}</mat-checkbox>
        </div>
        <div class="save-fav__form__row" *ngIf="form.editable.value && form.id.value">
            <mat-checkbox [formControl]="saveAsNewFormControl">{{ labels.saveAsNew | translate }}</mat-checkbox>
        </div>
        <div class="save-fav__form__row">
            <mat-checkbox formControlName="scheduled ">Marca de consulta programada</mat-checkbox>
        </div>
        <mat-form-field appearance="outline" floatLabel="always" style="width: 100%">
            <mat-label>Tipo de periodicidad</mat-label>
            <mat-select (selectionChange)="onFilterChange($event.value)" formControlName="scheduleType">
                <mat-option *ngFor="let option of filterOptions" [value]="option.id">{{ option.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="form-container" *ngIf="showDate || showWeekday || showDayOfMonth || showDiary">
            <div class="form-field-container">
                <mat-form-field *ngIf="showDate" appearance="outline" floatLabel="always" style="width: 100%">
                    <mat-label>Fecha</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="scheduledDate" />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field *ngIf="showWeekday" appearance="outline" floatLabel="always" style="width: 100%">
                    <mat-label>Día de la semana</mat-label>
                    <mat-select formControlName="scheduledWeekDay">
                        <mat-option *ngFor="let day of weekDays" [value]="day.value">{{ day.label }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="showDayOfMonth" appearance="outline" floatLabel="always" style="width: 100%">
                    <mat-label>Dia del mes</mat-label>
                    <mat-select formControlName="scheduledMonthDay">
                        <mat-option *ngFor="let month of monthDays" [value]="month.value">{{ month.label }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="time-field-container">
                <ngx-mat-timepicker formControlName="scheduledTime" [defaultTime]="[0, 0, 0]"></ngx-mat-timepicker>
            </div>
        </div>

        <mat-form-field appearance="outline" floatLabel="always" style="width: 100%">
            <mat-label>Receptores</mat-label>
            <input matInput formControlName="scheduledReceivers" placeholder="Receptores" />
            <mat-error *ngIf="advSearchForm.get('scheduledReceivers')?.hasError('invalidEmail')">
                {{
                    "El formato de los correos electrónicos no es válido. Asegúrese de que los correos estén separados por comas y sean válidos."
                }}
            </mat-error>
        </mat-form-field>
        <mat-error *ngIf="getSubmitError()">
            {{ getSubmitError() }}
        </mat-error>
    </form>
</div>
