@import 'utils/core';
@import 'utils/theme';

.save-fav {
  margin: 10px 0;

  &__form {
    &__row {
      display: flex;
      align-items: center;
      margin: 15px;

      .title-msg {
        color: mat-color($primary, 500);
        font-weight: 600;
        margin-right: 15px;
        flex-shrink: 0;
      }

      ngx-mat-timepicker {
        flex-grow: 1;
      }
    }
  }

  .form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    width: 100%;
  }

  .form-field-container {
    width: 69%;
  }
  .time-field-container {
    width: 29%;
  }

  .time-field-container {
    text-align: left;
  }

  .form-field-container {
    text-align: right;
  }
}
