<div class="users-container">
    <app-users-header
        #usersHeader
        [tab]="selectedTab"
        [buttonLabel]="selectedTab === 'users' ? labels.createUser : labels.createRole"
        [showFilterButton]="selectedTab === 'users' ? true : false"
        [areFiltersSettedAndActive]="areFiltersSettedAndActive()"
        [searchFn]="getFilteredData"
        (buttonCreateAction)="buttonCreateAction()"
        (buttonShowFilterDrawerAction)="buttonShowFilterDrawerAction()"
        (buttonSearchAction)="buttonSearchAction($event)"
    ></app-users-header>
    <mat-tab-group class="mat-tab-page-sections" mat-align-tabs="start" (selectedTabChange)="changeSelectedTab($event)">
        <mat-tab label="{{ labels.users | translate }}">
            <app-users-list #usersList></app-users-list>
        </mat-tab>
        <mat-tab label="{{ labels.roles | translate }}">
            <app-roles-list #rolesList></app-roles-list>
        </mat-tab>
    </mat-tab-group>
</div>
