<div class="create-edit-template-content" fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!isModalModeActive()">
        <div class="create-edit-template-content__title mat-display-2">{{ labels.title | translate }}</div>
    </div>
    <div class="create-edit-template-content__form">
        <form [formGroup]="budgetForm" *ngIf="budgetForm" class="smaller-mat-form-fields">
            <!-- General Data -->
            <div class="template-data__section">
                <div class="template-data__section__title first-child">
                    {{ labels.data | translate }}
                </div>
                <div class="template-data__section__group grid-group" formGroupName="template">
                    <!-- Name -->
                    <mat-form-field appearance="outline" floatLabel="always" class="first-item">
                        <mat-label>{{ labels.name | translate }}</mat-label>
                        <input matInput formControlName="name" />
                        <mat-error
                            class="template-data__error"
                            *ngIf="budgetForm.get('template.name').invalid && budgetForm.get('template.name').touched"
                        >
                            {{ labels.nameRequired | translate }}
                        </mat-error>
                    </mat-form-field>
                    <app-organization-levels-nested-combos
                        #OrganizationLevelsNestedCombos
                        [form]="budgetTemplateForm"
                    ></app-organization-levels-nested-combos>
                </div>

                <div class="template-data__section__group grid-group">
                    <mat-form-field
                        appearance="outline"
                        class="smaller-mat-form-fields__no-margin date-picker"
                        floatLabel="always"
                    >
                        <mat-label>{{ labels.iniDate | translate }}</mat-label>
                        <input
                            matInput
                            readonly
                            #pickerIniInput
                            [matDatepicker]="pickerIni"
                            placeholder="DD/MM/YYYY"
                            formControlName="startDate"
                            [max]="endDate"
                            (dateChange)="startDate = $event.value"
                        />
                        <mat-datepicker-toggle matSuffix [for]="pickerIni"></mat-datepicker-toggle>
                        <mat-datepicker #pickerIni></mat-datepicker>
                        <!-- <mat-error *ngIf="budgetForm.get('startDate').invalid && budgetForm.get('startDate').touched ">
                            <span *ngIf="budgetForm.get('startDate').errors.required">{{ labels.required | translate }}</span>
                        </mat-error> -->
                        <!-- TODO: DGDC relacionar el input con el datePicker -->
                        <mat-error *ngIf="budgetForm.get('startDate').invalid">{{
                            getDateErrorMessage(pickerIniInput.value)
                        }}</mat-error>
                    </mat-form-field>
                    <mat-form-field
                        appearance="outline"
                        class="smaller-mat-form-fields__no-margin date-picker"
                        floatLabel="always"
                    >
                        <mat-label>{{ labels.endDate | translate }}</mat-label>
                        <input
                            matInput
                            readonly
                            [matDatepicker]="pickerEnd"
                            placeholder="DD/MM/YYYY"
                            formControlName="endDate"
                            [min]="startDate"
                            (dateChange)="endDate = $event.value"
                        />
                        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                        <mat-datepicker #pickerEnd></mat-datepicker>
                        <mat-error *ngIf="budgetForm.get('endDate').invalid && budgetForm.get('endDate').touched">
                            <span *ngIf="budgetForm.get('endDate').errors.required">{{ labels.required | translate }}</span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <!-- Budget lines -->
            <div class="template-data__section">
                <div class="template-data__section__title first-child">{{ labels.budgetsLines | translate }} *</div>
                <div class="template-data__section__group">
                    <div cdkDropListGroup>
                        <div
                            cdkDropList
                            class="droplist-with-handle budgets-lines-list"
                            (cdkDropListDropped)="dropBudgetLine($event)"
                        >
                            <ng-container *ngFor="let itemForm of templateBudgetLines.controls; let i = index">
                                <div
                                    class="draggable-item budget-line smaller-mat-form-fields"
                                    [formGroup]="itemForm"
                                    cdkDrag
                                    cdkDragBoundary=".budgets-lines-list"
                                >
                                    <div class="budget-line-custom-placeholder" *cdkDragPlaceholder></div>
                                    <mat-icon cdkDragHandle class="opacity-04">drag_indicator</mat-icon>

                                    <mat-form-field
                                        appearance="outline"
                                        class="smaller-mat-form-fields__no-margin"
                                        floatLabel="always"
                                    >
                                        <mat-label>{{ labels.concept | translate }}</mat-label>
                                        <input type="text" matInput formControlName="description" />
                                        <!-- <input type="text" matInput [(ngModel)]="item.description" /> -->
                                    </mat-form-field>

                                    <mat-form-field
                                        appearance="outline"
                                        class="smaller-mat-form-fields__no-margin"
                                        floatLabel="always"
                                    >
                                        <mat-label>{{ labels.price | translate }}</mat-label>
                                        <input type="number" min="0" matInput formControlName="amount" />
                                        <span matSuffix>€</span>

                                        <mat-error *ngIf="templateBudgetLinesAt(i).get('amount').invalid">
                                            <span>{{
                                                labels.maxLengthError | translate: { length: maxAmount.toString().length }
                                            }}</span>
                                        </mat-error>
                                    </mat-form-field>

                                    <div class="budget-line__actions">
                                        <button mat-button class="opacity-04" (click)="deleteBudgetLine(i)">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <mat-error *ngIf="budgetForm.get('templateBudgetLines').invalid">
                        <span *ngIf="budgetForm?.get('templateBudgetLines')?.errors?.required && budgetForm?.touched">{{
                            labels.required | translate
                        }}</span>
                    </mat-error>
                    <button mat-button class="v-align-bottom opacity-06 no-padding" (click)="addBudgetLine()">
                        <mat-icon>add</mat-icon>
                        {{ labels.newLine | translate }}
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="create-edit-template-content__buttons">
        <!-- TODO: buttons used when the component is not opened with customDialogService -->
    </div>
</div>
