@import 'utils/core';
@import 'utils/theme';
.list-view-state {
  width: 100%;
  &__title {
    padding-top: 15px;
    &__label {
      span {
        word-break: break-word;
        white-space: break-spaces;
        font-size: 1.2rem;
        font-weight: 800;
      }
    }
    &__info {
      span {
        word-break: break-word;
        white-space: break-spaces;
        font-size: 0.8rem;
        font-weight: 600;
        padding-left: 10px;
      }
    }
  }
  &__buttons {
    padding-bottom: 5px;
    &__button {
      margin-right: 5px;
      cursor: pointer;
    }
  }
}
