@import 'utils/core';

.message-client-content {
  width: 100%;
  padding-right: 15px;
  &__form {
    width: 100%;
    .message-data__section {
      padding-bottom: 15px;
      &__title {
        margin: 0 0 5px 0;
        &.first-child {
          margin-top: 0px;
        }
      }
      &__group {
        &__title {
          padding-bottom: 0px;
          text-transform: uppercase;
          margin-bottom: 0px;
          padding-right: 0.5rem;
          &::after {
            content: ':';
          }
        }
        section {
          display: inline-block;
          margin-right: 10px;
          width: 200px;
        }
      }
    }
  }
}
