<div class="r-tabs" #responsiveTabsWrapper>
    <div
        #responsiveTab
        class="r-tabs-tab"
        *ngFor="let tab of visibleTabs"
        [ngClass]="{
            active: tab.id === tabSelected?.id,
            disabled: tab.disabled && tab.disabled(),
            'new-data': tab.newData,
            required: requiredFieldsAuxService.isTabRequired(tab.colId, tab.id)
        }"
        (click)="tabSelectedChange(tab)"
        matTooltipPosition="above"
        [matTooltip]="
            requiredFieldsAuxService.isTabRequired(tab.colId, tab.id)
                ? requiredFieldsAuxService.getTabTooltip(tab.colId, tab.id)
                : getTabDisabledTooltip(tab)
        "
        [matTooltipDisabled]="
            requiredFieldsAuxService.isTabRequired(tab.colId, tab.id)
                ? false
                : !(tab.disabled && tab.disabled()) || !tab.disabledTooltip
        "
    >
        {{ tab.label | translate }}
    </div>
    <div
        class="r-tabs-tab"
        *ngIf="hiddenTabs?.length"
        [ngClass]="{ active: isHiddenTabSelected() }"
        [matMenuTriggerFor]="moreOptionsMenu"
        matTooltipPosition="above"
        [matTooltip]="getHiddenTabsTooltip()"
        [matTooltipDisabled]="!isAnyHiddenTabRequired()"
    >
        <label [ngClass]="{ required: isAnyHiddenTabRequired() }">{{ labels.more | translate }}</label>
        <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
</div>

<mat-menu #moreOptionsMenu="matMenu">
    <div
        class="r-tabs-tab"
        *ngFor="let tab of hiddenTabs"
        [ngClass]="{
            active: tab.id === tabSelected?.id,
            disabled: tab.disabled && tab.disabled(),
            required: requiredFieldsAuxService.isTabRequired(tab.colId, tab.id)
        }"
        (click)="tabSelectedChange(tab)"
        matTooltipPosition="above"
        [matTooltip]="
            requiredFieldsAuxService.isTabRequired(tab.colId, tab.id)
                ? requiredFieldsAuxService.getTabTooltip(tab.colId, tab.id)
                : getTabDisabledTooltip(tab)
        "
        [matTooltipDisabled]="
            requiredFieldsAuxService.isTabRequired(tab.colId, tab.id)
                ? false
                : !(tab.disabled && tab.disabled()) || !tab.disabledTooltip
        "
    >
        {{ tab.label | translate }}
    </div>
</mat-menu>
