@import 'utils/core';

.forgot-password {
  height: 100%;

  .forgot-password-content {
    height: 100%;

    .forgot-password-content-spacer {
      padding: 36px;
    }

    &__title {
      margin: 36px 0 0 0;
    }

    &__description {
      margin-bottom: 30px;
    }

    &__input {
      width: 427px;
      margin-bottom: 15px;
    }

    &__btn {
      height: 48px;
      width: 427px;
      margin-bottom: 36px;
    }
  }

  .forgot-password-image {
    background: url(/assets/img/login-img@2x.png) no-repeat;
    background-size: cover;
  }
}
