.custom-dialog {
  &__header {
    &__title {
      margin: 0;
    }
    &__close-button {
      .mat-icon-button {
        width: 20px;
        height: 20px;
        line-height: 20px;
        // &.cdk-focused {
        //   .mat-button-focus-overlay {
        //     background-color: transparent;
        //   }
        // }
      }
    }
  }
}
