@import 'utils/core';
@import 'utils/theme';
.step-workflow {
  .step-workflow__title {
    margin-bottom: 15px;
  }

  .step-workflow__main {
    .step-workflow__main__group {
      .step-workflow__main__group__header {
        color: mat-contrast($primary, 50);
        margin-bottom: 10px;
      }
      margin-bottom: 10px;
      width: 100%;
      mat-form-field {
        margin-right: 20px;
      }
    }
  }
}
