@font-face {
  font-family: 'concenet';
  src: url('/assets/fonts/concenet.eot?dvvfk2');
  src: url('/assets/fonts/concenet.eot?dvvfk2#iefix') format('embedded-opentype'),
    url('/assets/fonts/concenet.ttf?dvvfk2') format('truetype'), url('/assets/fonts/concenet.woff?dvvfk2') format('woff'),
    url('/assets/fonts/concenet.svg?dvvfk2#concenet') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.concenet {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'concenet' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 24px;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga=1';
  -moz-font-feature-settings: 'liga';
  -ms-font-feature-settings: 'liga' 1;
  font-feature-settings: 'liga';
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.user:before {
  content: '\e900';
}
.notifications:before {
  content: '\e901';
}
.notifications-on:before {
  content: '\e902';
}
.comments:before {
  content: '\e903';
}
.comments-on:before {
  content: '\e904';
}
