@import '~@angular/material/theming';

@mixin custom-mat-extension-panel-theme($theme, $main-typo) {
  $primary: map-get($theme, primary);

  // Header
  .mat-expansion-panel-header {
    border-radius: initial;
    border-bottom: 1px solid mat-color($primary, 100);
    padding: 0 !important;

    &.mat-expanded {
      height: 49px;
    }

    .mat-expansion-indicator {
      border-width: 0 3px 3px 0;
      color: mat-contrast($primary, 50);
      padding: 0 10px;
    }

    .mat-expansion-panel-header-title {
      color: mat-color($primary, 500);
      font-size: 1rem;
      font-weight: 600;
    }
  }

  // Content
  .mat-expansion-panel-content {
    padding-top: 16px;

    .mat-expansion-panel-body {
      padding: 0 0 16px 0;
    }
  }
}
