@import '~@angular/material/theming';

@mixin custom-mat-input-theme($theme, $main-typo) {
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);

  //Generic colors
  .mat-form-field-appearance-outline {
    .mat-form-field-outline {
      color: mat-color($primary, 500);
    }
    .mat-form-field-label {
      color: mat-color($primary, 500);
      font-weight: 600;
      text-transform: uppercase;
    }
    input.mat-input-element {
      text-overflow: ellipsis;
    }
    .mat-form-field-subscript-wrapper {
      z-index: 1;
      margin-top: 0.2em;
      background-color: mat-color($background, note-background);
    }

    //Focused
    &.mat-focused {
      .mat-form-field-outline {
        color: darken(mat-color($primary, 500), 16%);
      }
      .mat-form-field-label {
        color: darken(mat-color($primary, 500), 16%);
      }
    }

    // Disabled
    &.mat-form-field-disabled {
      .mat-form-field-outline {
        color: transparent;
      }
      .mat-form-field-label {
        color: mat-color($primary, 500);
      }
      input.mat-input-element {
        color: mat-color($foreground, base);
      }
    }
  }

  //Smaller mat form fields
  .smaller-mat-form-fields {
    .mat-form-field-appearance-outline .mat-form-field-infix,
    .mat-form-field-appearance-outline .mat-form-field-suffix {
      padding: 0.25em 0 0.75em 0;
      font-size: 14px;
    }
    .mat-form-field-appearance-outline .mat-form-field-infix .mat-select-arrow {
      margin-top: 10px;
    }
    .mat-form-field-appearance-outline .mat-select-empty + .mat-form-field-label-wrapper .mat-form-field-label {
      margin-top: -0.75em;
    }
    &__no-margin.mat-form-field-appearance-outline .mat-form-field-wrapper {
      padding: 0 0;
      margin: 0 0;
    }
  }
}
