@import '~@angular/material/theming';

@mixin quill-text-editor-theme($theme, $main-typo) {
  .ql-container {
    max-height: 200px;
    overflow-y: scroll;
  }

  .ql-variablesOpt {
    .ql-picker-label:before {
      content: '[var]';
      width: 45px;
    }
    .ql-picker-item:before {
      content: attr(data-value);
    }
  }
}
