.wcard-details {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  z-index: 100;
  padding: 10px;

  &__tab {
    height: 57px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      height: 100%;
      min-width: 360px;
      width: 60%;
    }
    &__header {
      height: 100%;
      overflow: hidden;
      min-width: 300px;
      width: calc(100% - 60px);
      border-radius: 30px 30px 0 0;
    }
    &__bg {
      height: 100%;
      width: 60px;
      position: relative;
      z-index: 101;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0 0 0 30px;
        z-index: 100;
      }
    }
    &__close {
      margin-right: 25px;
      mat-icon {
        font-size: 1.8em;
      }
    }
  }
  &__wrapper {
    height: calc(100% - 57px);
    position: relative;
    width: 100%;
    border-radius: 0 30px 30px 30px;
    &__sections {
      &__controller {
        width: 100%;
      }
      &__container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        &.individual {
          .wcard-details__wrapper__info-sections {
            width: 0%;
            height: calc(100% - 64px);
            &__container {
              height: 100%;
              &__information,
              &__work-order {
                width: 100%;
                height: 100%;
              }
            }
          }
          .wcard-details__wrapper {
            height: calc(100% - 64px);
            width: 0%;
            &__messages,
            &__actions {
              width: 100%;
              height: calc(100% - 64px);
            }
          }
          &.information,
          &.workOrder {
            .wcard-details__wrapper__info-sections {
              width: 100%;
              height: calc(100% - 64px);
            }
          }
          &.messages,
          &.actions {
            .wcard-details__wrapper {
              width: 100%;
              height: calc(100% - 64px);
            }
          }
        }

        &.semi {
          .tab-options-wrapper {
            width: 50%;
          }
          .wcard-details__wrapper__info-sections {
            width: 50%;
            height: calc(100% - 64px);
            &__container {
              height: 100%;
              &__information,
              &__work-order {
                width: 100%;
                height: 100%;
              }
            }
          }

          .wcard-details__wrapper {
            height: 100%;
            &__messages,
            &__actions {
              width: 25%;
              height: 100%;
            }
          }
        }

        .wcard-details__wrapper__info-sections {
          width: 66%;
          &__controller {
            width: 100%;
          }
          &__container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            &__information,
            &__work-order {
              width: 50%;
            }
          }

          .tab-options-wrapper {
            .tab-option {
              width: 50%;
            }
          }
        }
        .wcard-details__wrapper {
          &__messages,
          &__actions {
            width: 17%;
          }
        }
      }
    }

    .tab-options-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 64px;
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 0 0 30px 30px;
      .tab-option {
        height: 64px;
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        label {
          cursor: pointer;
        }
        mat-icon {
          margin-right: 5px;
        }
        &:first-child {
          border-radius: 0 0 0 30px;
        }
        &:nth-child(4) {
          border-radius: 0 0 30px;
        }
      }
    }
  }
}
