<div class="associated-cards">
    <div class="associated-cards__header">
        <h2>{{ getTitle() }}</h2>
        <div class="actions">
            <button mat-button class="close-button" (click)="close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <div class="associated-cards__content">
        <div *ngIf="!cards.length">{{ labels.noData | translate }}</div>
        <div *ngFor="let group of cardsByGroup">
            <h3>{{ group.workflowName }}</h3>
            <app-workflow-card
                (click)="close()"
                class="card-item"
                *ngFor="let item of group.cards"
                [card]="item"
                [disableDrag]="true"
                [forceSize]="'size-s'"
                [navigationMode]="'absolute'"
                [dateToShow]="dialogData?.type === 'calendar' ? item.cardInstanceWorkflows[0].calendarDate : null"
            ></app-workflow-card>
        </div>
    </div>
</div>
