<div class="pdf-viewer">
    <div class="pdf-viewer__header">
        <h2>{{ title | translate }}</h2>
        <div class="actions">
            <button mat-button color="primary" (click)="download()">
                {{ labels.download | translate }}
                <mat-icon>vertical_align_bottom</mat-icon>
            </button>
            <button mat-button class="close-button" (click)="close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <ngx-extended-pdf-viewer
        *ngIf="attachment"
        [base64Src]="attachment.content"
        [height]="'90%'"
        [useBrowserLocale]="true"
        [textLayer]="true"
        [showHandToolButton]="true"
    >
    </ngx-extended-pdf-viewer>
</div>
