@import '@angular/material/theming';

@mixin restore-password-component-theme($theme, $main-typo) {
  $primary: map-get($theme, primary);

  .restore-password {
    .restore-password-content {
      &__description {
        color: mat-contrast($primary, 50);
        font-weight: 500;
      }
    }
  }
}
