@import 'utils/core';

.restore-password {
  height: 100%;

  .restore-password-content {
    height: 100%;

    .restore-password-content-spacer {
      padding: 0 36px;
    }

    &__title {
      margin: 36px 0 0 0;
    }

    &__description {
      margin-bottom: 30px;
    }

    &__input {
      width: 427px;
      margin-bottom: 15px;

      @include respond-to($mobile) {
        width: 100%;
      }
    }

    &__btn {
      height: 48px;
      margin-bottom: 36px;
      width: 427px;

      @include respond-to($mobile) {
        width: 100%;
      }
    }
  }

  .restore-password-image {
    background: url(/assets/img/pass-img@3x.png) no-repeat;
    background-size: cover;
  }
}
