@import 'utils/core';
@import 'utils/theme';

//Reutiliza estilos importados con el theme tanto del navbar como del user-profile
// DGDC TODO: rehacer estilos!!
.navbar {
  &__searcher {
    &.centered {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__search {
    mat-form-field {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .spinner {
      margin-bottom: 4px;
    }
  }
}

.user-profile-menu {
  .card {
    width: 150px;
  }
}
.custom-select-field .mat-form-field-infix {
  padding: 0.6em 0 0.5em 0 !important;
}

.custom-select-field .mat-form-field-wrapper {
  padding-bottom: 0;
}

.search-option-card {
  margin: 8px 0;
  width: 300px;
  height: 100px !important;
  opacity: 0;
  &.with-wf-name {
    height: 150px !important;
  }
  &.with-wf-substate-name {
    height: 125px !important;
  }
  &__wf-name {
    line-height: 20px;
    display: block;
  }
  .search-option-card__wf-name div {
    margin-bottom: 9px;
  }
  .workflow-substate {
    font-weight: bold;
    color: #2020ab;
  }
}
.fixed-filters {
  padding: 6px;
  border-bottom: 1px solid #e0e0e0;
  background-color: white;
  z-index: 1001;
}

.scrollable-options {
  max-height: 416px;
  overflow-y: auto;
}

.search-option-spinner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.search-option-card.fade-in {
  opacity: 1;
  animation: fadeInAnimation 0.5s ease-in-out;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
