<div class="navbar__searcher" [ngClass]="{ centered: format === 'icon' }">
    <form [formGroup]="searcherForm" class="navbar__search" fxLayout="row" fxLayoutAlign="end center" *ngIf="format === 'input'">
        <div style="display: flex; align-items: center">
            <mat-form-field appearance="outline" style="flex: 1">
                <input
                    #searchInput
                    formControlName="search"
                    matInput
                    [placeholder]="labels.search | translate"
                    (keyup.enter)="onSearchClick(); $event.stopPropagation()"
                />
                <mat-icon matSuffix (click)="onSearchClick(); $event.stopPropagation()">search</mat-icon>
            </mat-form-field>

            <button
                type="button"
                #filterMenuTrigger="matMenuTrigger"
                mat-icon-button
                [matMenuTriggerFor]="filterSeacherMenu"
                (click)="openFilterMenu('filter'); $event.stopPropagation()"
                (keydown.enter)="$event.preventDefault(); $event.stopPropagation()"
                aria-label="Open filters"
            >
                <mat-icon>filter_alt</mat-icon>
            </button>
        </div>
    </form>
    <div *ngIf="format === 'icon'" class="icon-mode-container">
        <mat-icon [matMenuTriggerFor]="filterSeacherMenu" (click)="openFilterMenu('search'); $event.stopPropagation()"
            >search</mat-icon
        >
        <mat-icon [matMenuTriggerFor]="filterSeacherMenu" (click)="openFilterMenu('filter'); $event.stopPropagation()"
            >filter_alt</mat-icon
        >
    </div>
</div>
<mat-menu #filterSeacherMenu="matMenu" class="user-profile-menu">
    <div (click)="$event.stopPropagation()">
        <form [formGroup]="searcherForm" *ngIf="format === 'icon'">
            <mat-form-field
                appearance="outline"
                floatLabel="always"
                style="width: 425px; margin: 2px"
                class="custom-select-field"
            >
                <input #searchInput formControlName="search" matInput (keyup.enter)="filter()" />
                <mat-label>{{ labels.search | translate }}</mat-label>
            </mat-form-field>
        </form>
        <form *ngIf="filtersVisible" [formGroup]="filterForm" class="fixed-filters">
            <mat-form-field
                appearance="outline"
                class="custom-select-field"
                floatLabel="always"
                style="width: 425px; margin: 2px"
            >
                <mat-label>{{ labels.attr | translate }}</mat-label>
                <mat-select
                    formControlName="attribute"
                    (click)="$event.stopPropagation()"
                    (selectionChange)="selectorChange($event.value)"
                >
                    <mat-option *ngFor="let attr of attributes" [value]="attr" disableRipple>{{
                        labels[attr] | translate
                    }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field
                appearance="outline"
                class="custom-select-field"
                floatLabel="always"
                style="width: 425px; margin: 2px"
            >
                <mat-label>{{ labels.workflow | translate }}</mat-label>
                <mat-select
                    formControlName="workflow"
                    class="capitalize"
                    (click)="$event.stopPropagation()"
                    (selectionChange)="selectorChange()"
                    [placeholder]="labels.anyOption | translate"
                >
                    <mat-form-field
                        appearance="outline"
                        floatLabel="always"
                        class="smaller-mat-form-fields__no-margin workflow-navbar__selector-filter"
                        style="width: 100%"
                    >
                        <input
                            matInput
                            type="text"
                            matInput
                            formControlName="workflowSearch"
                            [placeholder]="labels.filterWorkflow | translate"
                        />
                    </mat-form-field>

                    <mat-divider></mat-divider>

                    <mat-select-trigger *ngIf="workflowSelected">
                        {{ getWorkflowLabel(workflowSelected, true) || "" }}
                    </mat-select-trigger>

                    <mat-option [value]="null" class="workflow-name capitalize">
                        - {{ labels.anyOption | translate }} -</mat-option
                    >
                    <mat-option
                        *ngFor="let workflow of workflowOptions | async"
                        [value]="workflow"
                        class="workflow-name capitalize"
                    >
                        {{ getWorkflowLabel(workflow) }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div style="width: 425px" *ngIf="searchValidationsErrors.length > 0" class="error-messages">
                <div *ngFor="let error of searchValidationsErrors" class="error-message">- {{ error | translate }}.</div>
            </div>
            <button
                mat-raised-button
                color="primary"
                class="search-button"
                style="width: 425px"
                (click)="filter()"
                [disabled]="searchValidationsErrors.length > 0 || searching > 0"
            >
                {{ labels.search | translate }}
            </button>
        </form>
        <div *ngIf="!filtersVisible" style="min-width: 380px; margin: 2px"></div>
        <button
            *ngIf="format === 'icon' && !filtersVisible"
            mat-raised-button
            color="primary"
            class="search-button"
            style="width: 425px; margin: 10px 0"
            (click)="filter()"
            [disabled]="searching > 0"
        >
            {{ labels.search | translate }}
        </button>
        <div class="search-option-spinner" *ngIf="searching > 0 && paginationConfig.first">
            <mat-spinner class="spinner" diameter="20"></mat-spinner>
        </div>
        <div *ngIf="!searching && !cards.length && !filtersVisible">
            <span style="display: block; text-align: center; font-weight: bold">{{ labels.noSearchResults | translate }}</span>
        </div>
        <div class="scrollable-options" *ngIf="cards.length" (scroll)="onScroll($event)">
            <mat-option
                *ngFor="let option of cards; let i = index"
                class="search-option-card"
                [ngClass]="{
                    'with-wf-name': showWorkflowName(i),
                    'with-wf-substate-name': !showWorkflowName(i) && showWorkflowSubstate(i)
                }"
                [value]="option"
                (click)="cardSelected(option)"
                [class.fade-in]="true"
            >
                <div class="search-option-card__wf-name" *ngIf="showWorkflowName(i)">
                    <div>{{ option.cardInstanceWorkflows[0].workflowName }}</div>
                </div>
                <div class="search-option-card__wf-name" *ngIf="showWorkflowSubstate(i)">
                    <div class="workflow-substate">{{ option.cardInstanceWorkflows[0].workflowSubstateName }}</div>
                </div>

                <app-workflow-card
                    [card]="option"
                    [disableDrag]="true"
                    [forceSize]="'size-s'"
                    [showExtraInfo]="false"
                    [dateToShow]="getDateToShow(option)"
                    [dateToShowClass]="'searchPosition'"
                    [navigationMode]="'absolute'"
                >
                </app-workflow-card>
            </mat-option>
            <div class="search-option-spinner" *ngIf="!paginationConfig.last">
                <mat-spinner matSuffix class="spinner" diameter="30"></mat-spinner>
            </div>
        </div>
    </div>
</mat-menu>
