<div class="wf">
    <div class="wf__header" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <h1 class="wf__header__title mat-display-2" (click)="createEditWorkflow()">
            {{ getWorkflowName() | translate }}
            <mat-icon class="edit-name-icon">edit</mat-icon>
        </h1>
    </div>
    <div class="wf__tabs">
        <mat-tab-group
            #tabGroup
            class="mat-tab-page-sections font-size-smaller"
            mat-align-tabs="start"
            [selectedIndex]="tabIndex"
        >
            <mat-tab label="{{ labels.organization | translate }}"></mat-tab>
            <mat-tab
                label="{{ labels.roles | translate }}"
                [disabled]="!workflowsCreateEditAuxService.enableTabStep(0)"
            ></mat-tab>
            <mat-tab
                label="{{ labels.users | translate }}"
                [disabled]="!workflowsCreateEditAuxService.enableTabStep(1)"
            ></mat-tab>
            <mat-tab
                label="{{ labels.cards | translate }}"
                [disabled]="!workflowsCreateEditAuxService.enableTabStep(2)"
            ></mat-tab>
            <mat-tab label="{{ labels.cardConfig | translate }}" [disabled]="!workflowsCreateEditAuxService.enableTabStep(3)">
            </mat-tab>
            <mat-tab label="{{ labels.states | translate }}" [disabled]="!workflowsCreateEditAuxService.enableTabStep(4)">
            </mat-tab>
            <mat-tab label="{{ labels.cardsLimit | translate }}" [disabled]="!workflowsCreateEditAuxService.enableTabStep(5)">
            </mat-tab>
            <mat-tab label="{{ labels.timeline | translate }}" [disabled]="!workflowsCreateEditAuxService.enableTabStep(6)">
            </mat-tab>
            <mat-tab label="{{ labels.budgets | translate }}" [disabled]="!workflowsCreateEditAuxService.enableTabStep(7)">
            </mat-tab>
        </mat-tab-group>
        <div [ngSwitch]="tabIndex">
            <!-- <app-workflow-calendar [workflowId]="workflowDetail?.id" [stepIndex]="0" *ngSwitchCase="0"></app-workflow-calendar> -->
            <app-workflow-organization
                [workflowId]="workflowDetail?.id"
                [stepIndex]="0"
                *ngSwitchCase="0"
            ></app-workflow-organization>
            <app-workflow-roles [workflowId]="workflowDetail?.id" [stepIndex]="1" *ngSwitchCase="1"></app-workflow-roles>
            <app-workflow-users [workflowId]="workflowDetail?.id" [stepIndex]="2" *ngSwitchCase="2"></app-workflow-users>
            <app-workflow-cards [workflowId]="workflowDetail?.id" [stepIndex]="3" *ngSwitchCase="3"></app-workflow-cards>
            <app-workflow-card-config
                [workflowId]="workflowDetail?.id"
                [stepIndex]="4"
                *ngSwitchCase="4"
            ></app-workflow-card-config>
            <app-workflow-states [workflowId]="workflowDetail?.id" [stepIndex]="5" *ngSwitchCase="5"></app-workflow-states>
            <app-workflow-calendar [workflowId]="workflowDetail?.id" [stepIndex]="6" *ngSwitchCase="6"></app-workflow-calendar>
            <app-workflow-timeline [workflowId]="workflowDetail?.id" [stepIndex]="7" *ngSwitchCase="7"></app-workflow-timeline>
            <app-workflow-budgets
                [workflowId]="workflowDetail?.id"
                [stepIndex]="8"
                *ngSwitchCase="8"
                [lastStep]="true"
            ></app-workflow-budgets>
        </div>
    </div>
    <div class="wf__footer" fxLayout="row-reverse" fxLayoutAlign="space-between center">
        <button
            mat-flat-button
            color="primary"
            [disabled]="!workflowsCreateEditAuxService.getFormGroupByStep(tabIndex)?.valid"
            (click)="saveAndGoNextStep()"
        >
            <div *ngIf="tabIndex !== 5">{{ labels.save | translate }}</div>
            <div *ngIf="tabIndex === 5">{{ labels.next | translate }}</div>
        </button>
        <button
            *ngIf="tabIndex !== 5"
            mat-stroked-button
            color="warn"
            [disabled]="!workflowsCreateEditAuxService.getFormGroupByStep(tabIndex)?.dirty"
            (click)="resetForm()"
        >
            {{ labels.reset | translate }}
        </button>
    </div>
</div>
