@import 'utils/core';
@import 'utils/theme';
.payments {
  &__main {
    padding: 10px;
    height: calc(100% - 120px);
    overflow-y: auto;
    &__header {
      &__item {
        font-weight: 600;
        height: 40px;
      }
    }
    &__container {
      &__item {
        height: 75px;
        background-color: rgba(mat-color($primary, 100), 20%);
        border-bottom: 1px solid mat-color($primary, 100);
        mat-form-field {
          padding-top: 20px;
          max-width: 90%;
        }
      }
    }
    &__create {
      padding: 15px 0;
      &__item {
        font-weight: 600;
        color: mat-color($primary, A700);
        cursor: pointer;
      }
    }
  }
  &__button {
    padding: 20px;
    height: 80px;
  }
}
