<form [formGroup]="filterForm" *ngIf="filterForm" class="users-filter" fxLayout="column" fxLayoutAlign="center center">
    <!-- role -->
    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>{{ labels.role | translate }}</mat-label>
        <mat-select formControlName="roles" multiple>
            <mat-option *ngFor="let role of rolesAsyncList | async" [value]="role">{{ role.name }}</mat-option>
        </mat-select>
    </mat-form-field>

    <app-organization-levels-nested-combos
        #OrganizationLevelsNestedCombos
        [form]="filterForm"
    ></app-organization-levels-nested-combos>
</form>
