<div class="nav-bar-mentions-menu">
    <div class="loading" *ngIf="loading">
        <mat-spinner diameter="30"></mat-spinner>
    </div>
    <div class="new">
        <!-- <h4 class="subtitle">{{ labels.newMentions | translate }}</h4> -->
        <div class="mention-item mat-elevation-z2" *ngFor="let item of mentions.new" (click)="goToCard(item)">
            <div class="mention-item__wf">{{ item.workflowName }} - {{ item.facilityName }}</div>
            <div class="mention-item__wf-state">{{ item.workflowStateName }} / {{ item.workflowSubstateName }}</div>
            <mat-divider> </mat-divider>
            <div class="mention-item__info" [innerHTML]="item.comment"></div>
        </div>
    </div>
    <!-- <mat-divider style="margin-bottom: 10px"></mat-divider> -->
    <div class="old">
        <!-- <h4 class="subtitle">{{ labels.oldMentions | translate }}</h4> -->
        <div class="mention-item mat-elevation-z2" *ngFor="let item of mentions.old" (click)="goToCard(item)">
            <div class="mention-item__wf">{{ item.workflowName }} - {{ item.facilityName }}</div>
            <div class="mention-item__wf-state">{{ item.workflowStateName }} / {{ item.workflowSubstateName }}</div>
            <mat-divider> </mat-divider>
            <div class="mention-item__info" [innerHTML]="item.comment"></div>
        </div>
    </div>
</div>
