<div class="nav-bar-mentions-menu" (scroll)="onScroll($event)">
    <div class="loading" *ngIf="loading">
        <mat-spinner diameter="30"></mat-spinner>
    </div>
    <div class="no-data" *ngIf="!mentions || mentions.length === 0">
        {{ labels.noDataToShow | translate }}
    </div>
    <div class="new">
        <app-workflow-card
            class="mention-item mat-elevation-z2"
            *ngFor="let item of mentions"
            [card]="item.cardInstance"
            [disableDrag]="true"
            [additionalInfo]="getItemComment(item)"
            [showAdditionalInfo]="true"
            [forceSize]="'size-m'"
            [showExtraInfo]="false"
            [navigationMode]="'absolute'"
            [viewedBtn]="true"
            (viewedAction)="markAsViewed(item)"
        ></app-workflow-card>
    </div>
</div>
