@import 'utils/core';
//These styles are included in workflow.component.scss-theme.scss to avoid too many imports in styles file
@import '@angular/material/theming';

@mixin workflow-board-column-component-theme($theme, $main-typo) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);

  .workflow-board-column {
    &__state-name {
      color: mat-color($foreground, secondary-text);
    }

    &__expanded {
      &__block {
        .workflow-substate {
          .title {
            font-size: 0.8rem;
            font-weight: 800;
            color: darken(mat-color($primary, A700), 25%);
          }
        }
      }
    }

    &__collapsed {
      .collapsed-card {
        &__info {
          mat-icon {
            color: darken(mat-color($primary, A700), 25%);
          }
          label {
            color: mat-contrast($primary, 50);
          }
        }
        &__see-more {
          button {
            color: darken(mat-color($primary, A700), 25%);
          }
        }
        &__common {
          background-color: mat-contrast($primary, 400);
        }
      }
      .workflow-card__placeholder {
        display: none !important;
      }
    }

    .card-wrapper,
    &__collapsed {
      padding: 5px 0;
      border: 2px dotted rgba(255, 255, 255, 0);
      border-radius: 8px;
      &.droppable-zone {
        border: 2px dotted mat-color($primary, statusSuccess);
        background-color: rgba(mat-color($primary, statusSuccess), 20%);
      }
    }

    .card-wrapper {
      .empty-substate {
        background-color: mat-contrast($primary, 400);
        label {
          color: mat-contrast($primary, 50);
        }
      }
      .substate-drop-cover {
        background-color: mat-contrast($primary, A400);
        label {
          color: mat-contrast($primary, 50);
        }
      }
    }
  }
}
