<div class="modal-card-customer-attachments">
    <div *ngFor="let template of data">
        <div
            class="attachments__content__templates__content__item"
            *ngFor="let item of template.attachments"
            [ngClass]="{
                selected: isItemSelected(item),
                'shared-in-landing': item.showInLanding
            }"
            [ngStyle]="{ 'background-image': getItemBgImage(item) }"
            matTooltip=""
            matTooltipPosition="above"
            [matTooltipDisabled]="!item.showInLanding"
        >
            <div class="file-info">
                <div class="file-name">
                    {{ item.name }}
                </div>
                <div class="actions-wrapper">
                    <mat-icon
                        class="bottom-right"
                        *ngIf="hasPreview(item)"
                        (click)="downloadAttachment(item, template.attachments)"
                    >
                        search
                    </mat-icon>
                </div>
            </div>

            <div class="selects-container">
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Select 1</mat-label>
                    <mat-select formControlName="option1">
                        <mat-option *ngFor="let option of options1" [value]="option">{{ option }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Select 2</mat-label>
                    <mat-select formControlName="option2">
                        <mat-option *ngFor="let option of options2" [value]="option">{{ option }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
