<div class="create-edit-line-content" fxLayout="column" fxLayoutAlign="center center">
    <div class="create-edit-line-content__form">
        <form [formGroup]="lineForm" *ngIf="lineForm" class="smaller-mat-form-fields">
            <!-- General Data -->
            <div class="line-data__section">
                <div class="line-data__section__group grid-group">
                    <!-- Description -->
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>{{ labels.description | translate }}</mat-label>
                        <input matInput formControlName="description" />
                        <mat-error
                            class="line-data__error"
                            *ngIf="lineForm.controls.description.invalid && lineForm.controls.description.touched"
                        >
                            {{ labels.required | translate }}
                        </mat-error>
                    </mat-form-field>

                    <!-- sign - single combo options -->
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>{{ labels.sign | translate }}</mat-label>
                        <mat-select formControlName="sign">
                            <mat-option *ngFor="let sign of lineSigns" [value]="sign.value">{{ sign.description }}</mat-option>
                        </mat-select>
                        <mat-error
                            class="line-data__error"
                            *ngIf="lineForm.controls.sign.invalid && lineForm.controls.sign.touched"
                        >
                            {{ labels.required | translate }}
                        </mat-error>
                    </mat-form-field>
                    <!-- taxApply - boolean -->
                    <section class="pt-checkbox">
                        <mat-checkbox formControlName="taxApply">{{ labels.taxApply | translate }}</mat-checkbox>
                    </section>
                </div>
                <div class="line-data__section__group flex-group">
                    <section>
                        <!-- accountingLineType - single combo options -->
                        <mat-form-field appearance="outline" floatLabel="always" class="multiple-mat-select">
                            <mat-label>{{ labels.accountingLineType | translate }}</mat-label>
                            <input
                                type="text"
                                matInput
                                [placeholder]="labels.accountingLineType | translate"
                                [formControl]="linesTypesControl"
                                [matAutocomplete]="auto"
                            />
                            <mat-autocomplete
                                autoActiveFirstOption="false"
                                #auto="matAutocomplete"
                                [displayWith]="displayFn"
                                (optionSelected)="selectLineType($event.option.value)"
                            >
                                <mat-option *ngFor="let type of linesTypesFilteredOptions | async" [value]="type">
                                    {{ type.description }}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error
                                *ngIf="
                                    lineForm.controls.accountingLineType.invalid && lineForm.controls.accountingLineType.touched
                                "
                                >{{ labels.required | translate }}
                            </mat-error>
                        </mat-form-field>
                    </section>
                </div>
            </div>
            <div class="brand-data__section">
                <div class="brand-data__section__title">
                    {{ labels.groupLines | translate }}
                </div>
                <div class="line-data__section__group grid-group">
                    <!-- accumulated - boolean -->
                    <section class="pt-checkbox">
                        <mat-checkbox formControlName="accumulated">{{ labels.accumulated | translate }}</mat-checkbox>
                    </section>
                </div>
                <div class="line-data__section__group flex-group">
                    <section *ngIf="lineForm.get('accumulated').value">
                        <!-- accumulatedLines - multi combo options -->
                        <mat-form-field appearance="outline" floatLabel="always" class="multiple-mat-select">
                            <mat-label>{{ labels.accumulatedLines | translate }}</mat-label>
                            <mat-select formControlName="accumulatedLines" multiple [compareWith]="compareLines">
                                <mat-option *ngFor="let line of comboSimpleAccumulatedLines" [value]="line">{{
                                    line.description
                                }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </section>
                </div>
            </div>
        </form>
    </div>
</div>
