<div class="substate-movements from">
    <div class="substate-movements__column from source">
        <h2>DESDE</h2>
    </div>
    <div class="substate-movements__column from target">
        <h2>HASTA</h2>
    </div>
</div>
<div class="substate-movements">
    <div class="substate-movements__column source">
        <div class="substate-movements__column__substate source mat-elevation-z2">
            <mat-icon>home</mat-icon>
            <div class="substate-movements__column__substate__name">{{ state?.name }} / {{ substate?.name }}</div>
        </div>
    </div>
    <div class="substate-movements__column target">
        <div class="substate-movements__column__substate target mat-elevation-z2">Nuevo movimiento</div>
        <div class="substate-movements__column__substate target mat-elevation-z2">Nuevo movimiento</div>
    </div>
</div>
