@import 'utils/core';
@import 'utils/theme';
.substate-movements {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  overflow-y: visible;
  &.from {
    z-index: 100;
    width: calc(100% - 17px);
    pointer-events: none;
  }
  &__column {
    padding-top: 40px;
    &.from {
      width: 325px;
      display: flex;
      justify-content: center;
      padding-top: 10px;
      h2 {
        background-color: rgba(mat-contrast($primary, 500), 80%);
        border-radius: 10px;
        padding: 5px 10px;
      }
    }
    &__substate {
      background-color: mat-contrast($primary, 400);
      padding: 10px 15px;
      border-radius: 5px;
      width: 215px;
      min-height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      &.target {
        margin: 15px 0px 15px 40px;
      }
      &.source {
        margin: 15px 40px 15px 0;
      }
    }
    &.target {
      border-left: 1px solid mat-color($primary, paginator);
      min-height: calc(100% - 40px);
      &.from {
        min-height: auto;
        border-left: 0px;
      }
    }
  }
}
