@import 'utils/core';
@import 'utils/theme';
.media-viewer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    h2 {
      margin-bottom: 0px;
    }
    .actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .close-button {
        margin-left: 10px;
      }
    }
  }
  video,
  .image-viewer {
    width: auto;
    height: 80%;
    max-width: 100%;
  }
}
