@import 'utils/core';
@import 'utils/theme';
.adv-search {
  width: 100%;
  height: calc(100vh - 64px);
  &__sidenav {
    width: 500px;
    height: 100%;
    &__title {
      height: 64px;
      padding: 0 20px;
      width: 100%;
      box-sizing: border-box;
      font-size: 20px;
      font-weight: bold;
    }
    &__container {
      height: calc(100% - 64px);
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;
      overflow-y: auto;
      &__item {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        height: 45px;
        border: 1px solid rgba(mat-contrast($primary, A100), 20%);
        border-radius: 6px;
        margin-bottom: 15px;
        .name {
          max-width: calc(100% - 110px);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          cursor: pointer;
        }
        .icons {
          width: 100px;
          mat-icon {
            margin-left: 5px;
            font-size: 20px;
            color: mat-color($primary, 700);
            cursor: pointer;
          }
        }
      }
    }
  }
  &__content {
    width: 100%;
    height: 100%;

    &__header {
      height: 64px;
      background-color: mat-color($background, background);
      padding: 0 20px;
      min-width: 100%;
      overflow-x: auto;
      box-sizing: border-box;
      font-size: 0.75rem;
      &__title {
        .filterButton {
          border: 1px solid rgba(mat-contrast($primary, A100), 20%);
          border-radius: 4px;
          margin-right: 10px;
          cursor: pointer;
          .filterLabel {
            padding: 5px 10px;
            white-space: nowrap;
          }
          .filerIcon {
            border-left: 1px solid rgba(mat-contrast($primary, A100), 20%);
            padding: 0 5px;
            height: 100%;
            mat-icon {
              margin-top: 5px;
              font-size: 21px;
              height: 18px;
            }
          }
        }
        button {
          font-size: 0.75rem;
          padding: 0 10px;
          height: 30px;
          line-height: 30px;
        }
        .cleanButton {
          cursor: pointer;
          margin: 0 10px;
          white-space: nowrap;
        }
      }
      &__sidetitle {
        .custButton {
          cursor: pointer;
          margin-left: 10px;
          span {
            white-space: nowrap;
          }
          mat-icon {
            font-size: 18px;
            height: 18px;
            margin-left: 5px;
          }
        }
        .custButton:last-child {
          font-weight: 500;
        }
      }
    }
    &__container {
      height: calc(100% - 64px);
      width: 100%;
      &__drawer {
        width: 100%;
        height: 100%;
        &__side {
          width: 550px;
          height: 100%;
          background-color: mat-color($background, background-administration);
          &__header {
            height: 70px;
            padding: 15px;
            box-sizing: border-box;
            border-bottom: 1px solid rgba(mat-contrast($primary, A100), 20%);
            &__title {
              font-weight: 500;
              font-size: 20px;
            }
            &__action {
              cursor: pointer;
              mat-icon {
                margin-left: 5px;
              }
            }
          }
          &__content {
            height: calc(100% - 70px);
            overflow-y: auto;
            padding: 15px;
            box-sizing: border-box;
            width: 100%;
            &__columns {
              width: 100%;
              &.criteria-columns {
                .custom-actions-item {
                  width: auto;
                  height: auto;
                  min-height: 50px;
                  .custom-actions-item-nameContainer {
                    min-height: 50px;
                  }
                }
                .left-side {
                  .criteria-info {
                    .error {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      mat-icon {
                        color: mat-color($primary, statusError);
                      }
                    }
                  }
                }
                .right-side {
                  min-width: 68px;
                }
              }
            }
          }
        }
        &__content {
          height: 100%;
          width: 100%;
          background-color: mat-color($background, background-administration);
        }
      }
    }
  }
}

.selector-filter {
  width: 100%;
  margin: 0;
  .mat-form-field-infix {
    padding: 8px 0 !important;
  }
}
