<div class="entity">
    <div class="entity__head">
        <h2 class="entity__head__title">
            {{ labels.search | translate }}
        </h2>
        <form [formGroup]="searchForm" class="entity__head__search">
            <mat-form-field
                appearance="outline"
                class="smaller-mat-form-fields__no-margin smaller-mat-form-fields__button-height"
            >
                <input
                    type="text"
                    matInput
                    [placeholder]="labels.search | translate"
                    formControlName="search"
                    [matAutocomplete]="auto"
                />
                <button mat-icon-button aria-label="Search" type="button" matSuffix>
                    <mat-icon>search</mat-icon>
                </button>
                <mat-autocomplete autoActiveFirstOption="false" #auto="matAutocomplete" (optionSelected)="selectEntity()">
                    <mat-option *ngFor="let entity of entityList" [value]="entity">
                        {{ transformOptionLabel(entity) }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <div class="entity__head__search__button" fxLayout="row" fxLayoutAlign="space-around end">
                <button mat-stroked-button *ngIf="showCreateEntity()" (click)="createEntity()">
                    {{ getCreateEntityButtonLabel() | translate }}
                </button>
                <button mat-stroked-button *ngIf="showCreateEntity()" (click)="createEntity(true)">
                    {{ getImportEntityButtonLabel() | translate }}
                </button>
                <button
                    [disabled]="!formTab.controls.customerId.value"
                    mat-stroked-button
                    *ngIf="formTab.get('contentSourceId').value === 1"
                    (click)="openClientAttachments()"
                >
                    Adjuntos cliente
                </button>
            </div>
        </form>
        <div class="entity__head__error" fxLayout="row" fxLayoutAlign="center center" *ngIf="showError()">
            <mat-icon>error_outline</mat-icon><span>{{ getErrorMsg() }}</span>
        </div>
        <div
            class="entity__head__error"
            fxLayout="row"
            fxLayoutAlign="center center"
            *ngIf="!searchForm.value.search && this.formTab.invalid && !this.searching"
        >
            <mat-icon>error_outline</mat-icon><span>{{ labels.required | translate }}</span>
        </div>
        <div class="entity__head__content smaller-mat-form-fields" [formGroup]="formTab" *ngIf="showInventory()">
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>{{ labels.inventory | translate }}</mat-label>
                <mat-select formControlName="vehicleInventoryId" (selectionChange)="selectInventory()">
                    <mat-option *ngFor="let inventory of inventoryList" [value]="inventory.id">{{
                        getInventoryLabel(inventory)
                    }}</mat-option>
                </mat-select>
                <button matSuffix mat-icon-button aria-label="Clear" (click)="removeInventory(); $event.stopPropagation()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="entity__head__content" fxLayout="column" *ngIf="showContent()">
            <div *ngFor="let tabItem of tabItems.controls" class="entity__head__content__item" fxLayout="column">
                <span class="entity__head__content__item__label capitalize">{{ tabItem.value.label }}</span>
                <span class="entity__head__content__item__value" *ngIf="tabItem.valid">{{
                    tabItem.value.value ? tabItem.value.value : "---"
                }}</span>
                <span class="entity__head__content__item__error" *ngIf="tabItem.invalid">{{ labels.required | translate }}</span>
            </div>
        </div>
    </div>
</div>
