@import 'utils/core';
.custom-column-container {
  padding: 0 0 25px 30px;
  @include respond-to($desktop-small) {
    padding: 25px 5px;
  }
  &__header {
    &__group {
      margin-bottom: 20px;
      &.grid-group {
        display: grid;
        justify-items: left;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
      }
      &__tablist {
        width: 100%;
        font-size: 14px;
        &__button {
          border-radius: 6px;
          padding: 0 20px;
          width: 240px;
          height: 37px;
          margin-top: 10px;
          cursor: pointer;
          mat-icon {
            width: 20px;
            height: 20px;
            font-size: 20px;
            margin-left: 10px;
          }
        }
      }
    }
    &__title {
      font-size: 1rem;
      font-weight: 600;
      width: 100%;
    }
  }
  &__main {
    form {
      width: 100%;
    }
    &__group {
      margin-top: 20px;
      mat-form-field {
        margin-right: 20px;
      }
    }
    &__title {
      font-size: 1rem;
      font-weight: 600;
      width: 100%;
    }
  }
}
