<div class="checklist-config">
    <div class="checklist-config__column checklist-config__config">
        <h1>{{ getTitle() }}</h1>
        <mat-accordion [multi]="true">
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title> {{ labels.cheklistConfig | translate }}</mat-panel-title>
                </mat-expansion-panel-header>
                <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title> {{ labels.itemsInTemplate | translate }} </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-accordion [multi]="true" [displayMode]="'flat'">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title> 1 Firma</mat-panel-title>
                            <mat-panel-description>Firma cliente - Página 1,3,6 </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>Configuración del elemento</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title> 2 Dibujo libre</mat-panel-title>
                            <mat-panel-description>Dibujo sobre carrocería - Página 8 </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>Configuración del elemento</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="checklist-config__column checklist-config__pdf">
        <ngx-extended-pdf-viewer
            id="checklistPDF"
            [src]="'/assets/pdfs/contratos.pdf'"
            height="80vh"
            [handTool]="false"
            [useBrowserLocale]="true"
            [zoom]="'page-fit'"
            [zoomLevels]="['page-fit']"
            [textLayer]="true"
            [showZoomButtons]="false"
            [showHandToolButton]="false"
            [showPresentationModeButton]="false"
            [showRotateButton]="false"
            [showFindButton]="false"
            [showPrintButton]="false"
            [showSpreadButton]="false"
            [showDownloadButton]="false"
            [showOpenFileButton]="true"
            [(page)]="page"
            (pdfLoaded)="pdfLoadedFn($event)"
            (textLayerRendered)="configCanvas($event)"
        >
        </ngx-extended-pdf-viewer>
    </div>
    <div class="checklist-config__column checklist-config__items">
        <div class="checklistItemToDrag">
            <div class="resizable">
                <div class="checklistItemToDrag__text">{{ labels.text | translate }}</div>
            </div>
        </div>
        <div class="checklistItemToDrag">
            <div class="resizable">
                <div class="checklistItemToDrag__sign">{{ labels.sign | translate }}</div>
            </div>
        </div>
        <div class="checklistItemToDrag">
            <div class="resizable">
                <div class="checklistItemToDrag__draw">{{ labels.freeDraw | translate }}</div>
            </div>
        </div>
        <div class="checklistItemToDrag">
            <div class="resizable">
                <div class="checklistItemToDrag__check">{{ labels.check | translate }}</div>
            </div>
        </div>
        <div class="checklistItemToDrag">
            <div class="resizable">
                <div class="checklistItemToDrag__var">{{ labels.var | translate }}</div>
            </div>
        </div>
        <div class="checklistItemToDrag">
            <div class="resizable">
                <div class="checklistItemToDrag__image">{{ labels.image | translate }}</div>
            </div>
        </div>
    </div>
</div>
