<div class="w-colunm-entity-container">
    <div class="w-colunm-entity">
        <div class="w-colunm-entity-data" *ngFor="let data of entityData">
            <label
                class="w-colunm-entity-data__label"
                [ngClass]="{
                    required: requiredFieldsAuxService.isFieldRequired(data.tabId, data.id)
                }"
                >{{ data.name }}</label
            >
            <div class="w-colunm-entity-data__value">{{ getDataValue(data) }}</div>
        </div>

        <h3 class="no-data" *ngIf="!entityData?.length && dataLoaded">
            {{ labels.noDataToShow | translate }}
        </h3>
    </div>
    <div class="w-colunm-entity-change-button" fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-stroked-button *ngIf="showEditEntity()" (click)="editEntity()">
            {{ getEditEntityButtonLabel() | translate }}
        </button>

        <!-- <button mat-stroked-button *ngIf="showEditEntity() && tab.contentSourceId === 1" (click)="customerAttachments()">
            {{ labels.customerAttachments | translate }}
        </button> -->

        <button mat-stroked-button *ngIf="showChangeOrAsignEntity()" (click)="changeEntity()">
            {{ getChangeOrAsignEntityButtonLabel() | translate }}
        </button>
    </div>
</div>
