<p>Revisa tus datos de contacto. Debes tener al menos email o teléfono para acceder al sistema.</p>
<form [formGroup]="preF2aForm">
    <div>
        <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
            <mat-error class="doble-factor-error" *ngIf="preF2aForm.errors?.atLeastOneRequired">
                Este campo es obligatorio
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phone" />
            <mat-error class="doble-factor-error" *ngIf="preF2aForm.errors?.atLeastOneRequired">
                Este campo es obligatorio
            </mat-error>
        </mat-form-field>
    </div>
</form>
