@import 'utils/core';
@import 'utils/theme';
.edit-substate {
  &__tab {
    position: relative;
    padding: 25px 5px 10px 5px;
    min-height: 400px;
    max-height: 600px;
    &.darker-bg {
      margin-top: 23px;
      margin-bottom: 13px;
      padding: 0;
      background-color: mat-color($background, background-administration);
    }
  }
}
