<div class="edit-substate">
    <app-responsive-tabs [tabs]="tabs" (tabSelectedEvent)="tabChange($event)"></app-responsive-tabs>
    <div class="edit-substate__tab" [ngSwitch]="tabToShow?.id">
        <app-wf-edit-substate-general-tab
            *ngSwitchCase="'GENERAL'"
            [state]="state"
            [substate]="substate"
            [workflowId]="workflowId"
            [dataToInitForm]="substate"
            (substateChanged)="substateChanged($event)"
            [tabId]="tabToShow?.id"
        ></app-wf-edit-substate-general-tab>
        <app-wf-edit-permissions-tab
            *ngSwitchCase="'STATE_PERMISSIONS'"
            [state]="state"
            [substate]="substate"
            [workflowId]="workflowId"
            [dataToInitForm]="substate"
            (substateChanged)="substateChanged($event)"
            [tabId]="tabToShow?.id"
        ></app-wf-edit-permissions-tab>
        <app-wf-edit-substate-movements-tab
            *ngSwitchCase="'MOVEMENTS'"
            [state]="state"
            [substate]="substate"
            [workflowId]="workflowId"
            [dataToInitForm]="substate"
            (substateChanged)="substateChanged($event)"
            [tabId]="tabToShow?.id"
        ></app-wf-edit-substate-movements-tab>
        <app-wf-edit-substate-events-tab
            *ngSwitchCase="'EVENTS'"
            [state]="state"
            [substate]="substate"
            [workflowId]="workflowId"
            [dataToInitForm]="substate"
            (substateChanged)="substateChanged($event)"
            [tabId]="tabToShow?.id"
        ></app-wf-edit-substate-events-tab>
    </div>
</div>
