<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="{{ labels.inputEvent | translate }}"
        ><app-wf-edit-substate-events-dialog
            #InEvents
            *ngIf="extendedComponentDataIN"
            [extendedComponentData]="extendedComponentDataIN"
            (formIntialized)="formIntialized()"
        ></app-wf-edit-substate-events-dialog
    ></mat-tab>
    <mat-tab label="{{ labels.exitEvent | translate }}"
        ><app-wf-edit-substate-events-dialog
            #OutEvents
            *ngIf="extendedComponentDataOUT"
            [extendedComponentData]="extendedComponentDataOUT"
            (formIntialized)="formIntialized()"
        ></app-wf-edit-substate-events-dialog
    ></mat-tab>
</mat-tab-group>
