@import '@angular/material/theming';
@import 'utils/core';

@mixin create-edit-specialty-component-theme($theme, $main-typo) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);

  .create-edit-specialty-content {
    .create-edit-specialty-content__form {
      .specialty-data__section {
        &__title {
          color: mat-color($primary, 500);
          font-size: 1rem;
          font-weight: 600;
        }
        &__info {
          font-size: 0.85rem;
        }
        &__group {
          mat-form-field {
            width: 97%;
            max-width: 255px;
            margin: 0 7px;
          }
          &__title {
            color: mat-contrast($primary, 100);
            font-size: 0.75rem;
            font-weight: 600;
          }
        }
      }
      .smaller-mat-form-fields {
        @include respond-to(calc(#{$tablet-small} - 25px)) {
          mat-form-field {
            width: 95%;
          }
        }
        @include respond-to(calc(#{$mobile} - 120px)) {
          mat-form-field {
            width: 97%;
          }
        }
      }
    }
  }
}
