<div class="attachments" [ngClass]="{ 'modal-view': modalMode }">
    <div class="attachments__header" *ngIf="modalMode">
        <h2 class="mat-headline">{{ title | translate }}</h2>
        <button mat-icon-button class="attachments__header__close close-modal-button" (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="attachments__content" cdkDropListGroup cdkScrollable>
        <div class="attachments__content__templates" *ngFor="let template of data">
            <div class="attachments__content__templates__header">
                <label
                    [ngClass]="{
                        required: requiredFieldsAuxService.isFieldRequired(template.tabId, template.templateAttachmentItem.id)
                    }"
                    >{{ template.templateAttachmentItem.name }}</label
                >
                <button
                    mat-icon-button
                    color="primary"
                    class="v-align-bottom no-padding"
                    *ngIf="!cardInstanceAttachmentsConfig.disableAttachmentsAddition"
                    (click)="fileDropRef.click()"
                >
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div
                class="attachments__content__templates__content"
                [ngClass]="{ fileoverCdk: hoverTemplate === template }"
                appDropZone
                [disableDropZone]="cardInstanceAttachmentsConfig.disableAttachmentsAddition"
                (fileDropped)="fileDropped($event, template)"
                cdkDropList
                [cdkDropListData]="{ template: template }"
                (cdkDropListDropped)="fileMoved($event, template); setHoverTemplate(false, template, 'cdk')"
                (cdkDropListEntered)="setHoverTemplate(true, template, 'cdk')"
                (cdkDropListExited)="setHoverTemplate(false, template, 'cdk')"
            >
                <input
                    type="file"
                    style="display: none"
                    #fileDropRef
                    id="fileDropRef"
                    multiple
                    (change)="fileBrowseHandler($event.target.files, template)"
                />
                <div class="fileover-placeholder">
                    <label>{{ labels.dropHere | translate }}</label>
                </div>
                <label class="drop-here-label">{{ labels.dropHere | translate }}</label>
                <div
                    class="attachments__content__templates__content__item"
                    *ngFor="let item of template.attachments"
                    cdkDrag
                    (cdkDragStarted)="draggingAttachment = item"
                    [attr.attachment]="item"
                    [ngClass]="{
                        selected: isItemSelected(item),
                        'shared-in-landing': item.showInLanding
                    }"
                    [ngStyle]="{ 'background-image': getItemBgImage(item) }"
                    matTooltip="{{ labels.fileSharedWithCustomerInLanding | translate }}"
                    matTooltipPosition="above"
                    [matTooltipDisabled]="!item.showInLanding"
                >
                    <div class="actions-wrapper">
                        <mat-icon
                            class="top-left"
                            *ngIf="
                                isClientMode ||
                                ((!cardInstanceAttachmentsConfig.disableIndividualDeleteAction ||
                                    hasUerPermissionToDeleteFiles()) &&
                                    template.permissionType === 'EDIT')
                            "
                            (click)="deleteAttachment(item)"
                            >delete</mat-icon
                        >
                        <mat-icon
                            class="top-right"
                            *ngIf="!cardInstanceAttachmentsConfig.disableAttachmentsSelection && !isItemSelected(item)"
                            (click)="selectItem(item)"
                            >check_box_outline_blank</mat-icon
                        >
                        <mat-icon
                            class="top-right"
                            *ngIf="!cardInstanceAttachmentsConfig.disableAttachmentsSelection && isItemSelected(item)"
                            (click)="selectItem(item)"
                            >check_box</mat-icon
                        >
                        <mat-icon
                            class="bottom-right"
                            *ngIf="
                                !cardInstanceAttachmentsConfig.disableIndividualDownloadAction &&
                                !cardInstanceAttachmentsConfig.disableAttachmentsSelection &&
                                !hasPreview(item)
                            "
                            (click)="downloadAttachment(item, template.attachments)"
                            >vertical_align_bottom</mat-icon
                        >
                        <mat-icon
                            class="bottom-left shared-in-landing"
                            *ngIf="
                                !cardInstanceAttachmentsConfig.disableLandingAction &&
                                item.showInLanding &&
                                template.permissionType === 'EDIT'
                            "
                            (click)="stopSharingFileInLanding(item)"
                            matTooltip="{{ labels.stopSharingFileWithCustomerInLanding | translate }}"
                            matTooltipPosition="above"
                            >visibility_off</mat-icon
                        >
                        <mat-icon
                            class="bottom-left"
                            *ngIf="isClientMode"
                            (click)="moveAttachment(item)"
                            matTooltip="Mover a antiguos"
                            matTooltipPosition="above"
                            >arrow_forward</mat-icon
                        >
                        <mat-icon
                            class="top-right"
                            *ngIf="
                                !cardInstanceAttachmentsConfig.disableIndividualDownloadAction &&
                                cardInstanceAttachmentsConfig.disableAttachmentsSelection &&
                                !hasPreview(item)
                            "
                            (click)="downloadAttachment(item, template.attachments)"
                            >vertical_align_bottom</mat-icon
                        >
                        <mat-icon
                            class="bottom-right"
                            *ngIf="
                                !cardInstanceAttachmentsConfig.disableIndividualDownloadAction &&
                                !cardInstanceAttachmentsConfig.disableAttachmentsSelection &&
                                hasPreview(item)
                            "
                            (click)="downloadAttachment(item, template.attachments)"
                            >search</mat-icon
                        >
                        <mat-icon
                            class="top-right"
                            *ngIf="
                                !cardInstanceAttachmentsConfig.disableIndividualDownloadAction &&
                                cardInstanceAttachmentsConfig.disableAttachmentsSelection &&
                                hasPreview(item)
                            "
                            (click)="downloadAttachment(item, template.attachments)"
                            >search</mat-icon
                        >
                    </div>
                    <div
                        class="file-name"
                        [ngClass]="{ editable: !cardInstanceAttachmentsConfig.disableEditFileName }"
                        (click)="template.permissionType === 'EDIT' && editAttachmentName(item, template)"
                    >
                        {{ item.name }}
                        <mat-icon *ngIf="template.permissionType === 'EDIT'">edit</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="attachments__footer" *ngIf="modalMode">
        <button mat-flat-button color="primary" (click)="save()">
            {{ confirmButtonLabel | translate }}
        </button>
    </div>
</div>
