<div class="attachments" cdkDropListGroup cdkScrollable>
    <div class="attachments__templates" *ngFor="let template of data">
        <div class="attachments__templates__header">
            <label>{{ template.templateAttachmentItem.name }}</label>
            <button
                mat-icon-button
                color="primary"
                class="v-align-bottom no-padding"
                *ngIf="!cardInstanceAttachmentsConfig.disableAttachmentsAddition"
                (click)="fileDropRef.click()"
            >
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div
            class="attachments__templates__content"
            [ngClass]="{ fileover2: hoverTemplate === template }"
            appDropZone
            [disableDropZone]="cardInstanceAttachmentsConfig.disableAttachmentsAddition"
            (fileDropped)="fileDropped($event, template)"
            (fileIsHover)="setHoverTemplate($event, template, 'appDropZone')"
            cdkDropList
            [cdkDropListData]="{ template: template }"
            (cdkDropListDropped)="fileMoved($event, template); setHoverTemplate(false, template, 'cdk')"
            (cdkDropListEntered)="setHoverTemplate(true, template, 'cdk')"
            (cdkDropListExited)="setHoverTemplate(false, template, 'cdk')"
        >
            <input
                type="file"
                style="display: none"
                #fileDropRef
                id="fileDropRef"
                multiple
                (change)="fileBrowseHandler($event.target.files, template)"
            />
            <div class="fileover-placeholder">
                <label>{{ labels.dropHere | translate }}</label>
            </div>
            <div
                class="attachments__templates__content__item"
                *ngFor="let item of template.attachments"
                cdkDrag
                (cdkDragStarted)="draggingAttachment = item"
                [attr.attachment]="item"
                [ngClass]="{ selected: isItemSelected(item) }"
                [ngStyle]="{ 'background-image': getItemBgImage(item) }"
            >
                <div class="actions-wrapper">
                    <mat-icon
                        class="top-left"
                        *ngIf="!cardInstanceAttachmentsConfig.disableIndividualDeleteAction"
                        (click)="deleteAttachment(item)"
                        >delete</mat-icon
                    >
                    <mat-icon
                        class="top-right"
                        *ngIf="!cardInstanceAttachmentsConfig.disableAttachmentsSelection && !isItemSelected(item)"
                        (click)="selectItem(item)"
                        >check_box_outline_blank</mat-icon
                    >
                    <mat-icon
                        class="top-right"
                        *ngIf="!cardInstanceAttachmentsConfig.disableAttachmentsSelection && isItemSelected(item)"
                        (click)="selectItem(item)"
                        >check_box</mat-icon
                    >
                    <mat-icon
                        class="bottom-right"
                        *ngIf="
                            !cardInstanceAttachmentsConfig.disableIndividualDownloadAction &&
                            !cardInstanceAttachmentsConfig.disableAttachmentsSelection
                        "
                        (click)="downloadAttachment(item)"
                        >vertical_align_bottom</mat-icon
                    >
                    <mat-icon
                        class="top-right"
                        *ngIf="
                            !cardInstanceAttachmentsConfig.disableIndividualDownloadAction &&
                            cardInstanceAttachmentsConfig.disableAttachmentsSelection
                        "
                        (click)="downloadAttachment(item)"
                        >vertical_align_bottom</mat-icon
                    >
                </div>
                <div
                    class="file-name"
                    [ngClass]="{ editable: !cardInstanceAttachmentsConfig.disableEditFileName }"
                    (click)="editAttachmentName(item, template)"
                >
                    {{ item.name }}
                    <mat-icon>edit</mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>
