@import 'utils/theme';
.w-column {
  margin: 10px;
  height: calc(100% - 20px);
  position: relative;
  h5 {
    font-weight: bold;
    color: mat-color($primary, statusNeutral);
    letter-spacing: 2px;
    height: 20px;
    margin-bottom: 12px;
    &.required {
      color: mat-color($primary, statusError);
      &:after {
        content: ' *';
      }
    }
  }
  &__container {
    background-color: mat-contrast($primary, 400);
    border-radius: 20px;
    height: calc(100% - 32px);
    &__content {
      height: calc(100% - 32px);
      width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      position: relative;
    }
    &.actions {
      background-color: rgba(255, 255, 255, 0);
      &__content {
        height: 100%;
      }
    }
    app-workflow-column-customizable-entity {
      height: 100%;
      overflow: hidden;
    }
    .loading {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 20;
    }
  }
}
