<div class="w-column">
    <h5 class="uppercase">
        {{ column.name }}

        <button mat-icon-button *ngIf="containerClass === 'actions'" (click)="!synchronizingData && syncData()">
            <mat-spinner style="margin-left: 10px" diameter="20" *ngIf="synchronizingData"></mat-spinner>
            <mat-icon *ngIf="!synchronizingData">cloud_download</mat-icon>
        </button>
    </h5>
    <div class="w-column__container" [ngClass]="containerClass">
        <app-responsive-tabs *ngIf="showTabs" [tabs]="getTabsInfo()" (tabSelectedEvent)="tabChange($event)"></app-responsive-tabs>
        <div class="loading" *ngIf="showLoading">
            <mat-spinner diameter="30"></mat-spinner>
        </div>
        <!-- Para todas las columnas menos para mensajes -->
        <div class="w-column__container__content" *ngIf="containerClass !== 'messages' && containerClass !== 'actions'">
            <app-workflow-column-customizable-entity
                *ngIf="showColumn('CUSTOMIZABLE_ENTITY')"
                [tab]="tabToShow"
                [cardInstance]="cardInstance"
                (setShowLoading)="setShowLoading($event)"
            ></app-workflow-column-customizable-entity>
            <app-workflow-column-customizable-custom
                *ngIf="showColumn('CUSTOMIZABLE_CUSTOM')"
                [tab]="tabToShow"
                [cardInstance]="cardInstance"
            ></app-workflow-column-customizable-custom>
            <app-workflow-column-prefixed-information
                *ngIf="showColumn('PREFIXED_INFORMATION')"
                [tab]="tabToShow"
                [cardInstance]="cardInstance"
            ></app-workflow-column-prefixed-information>
            <app-workflow-column-prefixed-tasks
                *ngIf="showColumn('PREFIXED_TASKS')"
                [tab]="tabToShow"
                (setShowLoading)="setShowLoading($event)"
            ></app-workflow-column-prefixed-tasks>
            <app-workflow-column-prefixed-history
                *ngIf="showColumn('PREFIXED_HISTORY')"
                [tab]="tabToShow"
                (setShowLoading)="setShowLoading($event)"
            >
            </app-workflow-column-prefixed-history>
            <app-workflow-column-templates-attachments
                *ngIf="showColumn('TEMPLATE_ATTACHMENTS')"
                [tab]="tabToShow"
                (setShowLoading)="setShowLoading($event)"
            ></app-workflow-column-templates-attachments>
            <app-workflow-column-templates-budgets
                *ngIf="showColumn('TEMPLATE_BUDGETS')"
                [tab]="tabToShow"
                (setShowLoading)="setShowLoading($event)"
                [cardInstance]="cardInstance"
            ></app-workflow-column-templates-budgets>
        </div>
        <!-- Columnas mensaje -->
        <div class="w-column__container__content" *ngIf="containerClass === 'messages'">
            <app-workflow-column-comments
                [style]="{ display: showColumn('COMMENTS') ? '' : 'none' }"
                (setShowLoading)="setShowLoading($event)"
                (newCommentsEvent)="newComments($event, 'COMMENTS')"
            ></app-workflow-column-comments>
            <app-workflow-column-client-messages
                [style]="{ display: showColumn('CLIENT_MESSAGES') ? '' : 'none' }"
                (setShowLoading)="setShowLoading($event)"
                (newCommentsEvent)="newComments($event, 'CLIENT_MESSAGES')"
            ></app-workflow-column-client-messages>
        </div>
        <!-- Columna acciones -->
        <div class="w-column__container__content" *ngIf="containerClass === 'actions'">
            <app-workflow-column-actions-and-links
                [tab]="column.tabs[0]"
                [cardInstance]="cardInstance"
                [idUser]="idUser"
            ></app-workflow-column-actions-and-links>
        </div>
    </div>
</div>
