<div class="w-column">
    <h5 class="uppercase">{{ column.name }}</h5>
    <div class="w-column__container" [ngClass]="containerClass">
        <app-responsive-tabs *ngIf="showTabs" [tabs]="getTabsInfo()" (tabSelectedEvent)="tabChange($event)"></app-responsive-tabs>
        <div class="w-column__container__content">
            <app-workflow-column-customizable-entity
                *ngIf="showColumn('CUSTOMIZABLE_ENTITY')"
                [tab]="tabToShow"
            ></app-workflow-column-customizable-entity>
            <!-- <router-outlet name="column1" *ngIf="column === 'column1'"></router-outlet>
            <router-outlet name="column2" *ngIf="column === 'column2'"></router-outlet>
            <router-outlet name="messages" *ngIf="column === 'messages'"></router-outlet> -->
            <!-- <div *ngIf="column === 'actions'">Actions content</div> -->
        </div>
    </div>
</div>
