@import '@angular/material/theming';

@mixin workflow-card-column-component-theme($theme, $main-typo) {
  $primary: map-get($theme, primary);
  // $foreground: map-get($theme, foreground);

  .w-column {
    h5 {
      font-weight: bold;
      color: mat-color($primary, statusNeutral);
      letter-spacing: 2px;
      height: 20px;
      margin-bottom: 12px;
    }
    &__container {
      background-color: mat-contrast($primary, 400);
      &.actions {
        background-color: rgba(255, 255, 255, 0);
      }
    }
  }
}
