<div class="create-edit-template-content" fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!isModalModeActive()">
        <div class="create-edit-template-content__title mat-display-2">{{ labels.title | translate }}</div>
    </div>
    <div class="create-edit-template-content__form">
        <form [formGroup]="attachmentForm" *ngIf="attachmentForm" class="smaller-mat-form-fields">
            <!-- General Data -->
            <div class="template-data__section">
                <div class="template-data__section__title first-child">
                    {{ labels.data | translate }}
                </div>
                <div class="template-data__section__group grid-group" formGroupName="template">
                    <!-- Name -->
                    <mat-form-field appearance="outitem" floatLabel="always" class="first-item">
                        <mat-label>{{ labels.name | translate }}</mat-label>
                        <input matInput formControlName="name" />
                        <mat-error
                            class="template-data__error"
                            *ngIf="attachmentForm.get('template.name').invalid && attachmentForm.get('template.name').touched"
                        >
                            {{ labels.nameRequired | translate }}
                        </mat-error>
                    </mat-form-field>
                    <!-- brands -->
                    <mat-form-field appearance="outitem" floatLabel="always">
                        <mat-label>{{ labels.brand | translate }}</mat-label>
                        <mat-select formControlName="brands" multiple (selectionChange)="getFacilitiesOptions()">
                            <button
                                mat-button
                                class="mat-button-w-100-left"
                                *ngIf="!hasAllSelected('brands', attachmentForm.get('template.brands'), brandsList)"
                                (click)="selectAll('brands', attachmentForm.get('template.brands'), brandsList)"
                            >
                                {{ labels.selectAll | translate }}
                            </button>
                            <button
                                mat-button
                                class="mat-button-w-100-left"
                                *ngIf="hasAllSelected('brands', attachmentForm.get('template.brands'), brandsList)"
                                (click)="unselectAll('brands', attachmentForm.get('template.brands'))"
                            >
                                {{ labels.unselectAll | translate }}
                            </button>
                            <mat-option *ngFor="let brand of brandsAsyncList | async" [value]="brand">{{
                                brand.name
                            }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="attachmentForm.get('template.brands').invalid && attachmentForm.get('template.brands').touched">
                            <span *ngIf="attachmentForm.get('template.brands').errors.required">{{
                                labels.required | translate
                            }}</span>
                        </mat-error>
                    </mat-form-field>

                    <!-- facilities -->
                    <mat-form-field appearance="outitem" floatLabel="always">
                        <mat-label>{{ labels.facility | translate }}</mat-label>
                        <mat-select
                            formControlName="facilities"
                            multiple
                            (selectionChange)="getDepartmentsOptions()"
                            [disabled]="!facilitiesList || !facilitiesList.length"
                        >
                            <button
                                mat-button
                                class="mat-button-w-100-left"
                                *ngIf="!hasAllSelected('facilities', attachmentForm.get('template.facilities'), facilitiesList)"
                                (click)="selectAll('facilities', attachmentForm.get('template.facilities'), facilitiesList)"
                            >
                                {{ labels.selectAll | translate }}
                            </button>
                            <button
                                mat-button
                                class="mat-button-w-100-left"
                                *ngIf="hasAllSelected('facilities', attachmentForm.get('template.facilities'), facilitiesList)"
                                (click)="unselectAll('facilities', attachmentForm.get('template.facilities'))"
                            >
                                {{ labels.unselectAll | translate }}
                            </button>
                            <mat-optgroup
                                *ngFor="let group of facilitiesList"
                                [label]="group.brandName"
                                matTooltip="{{ group.tooltipBrandName }}"
                                [matTooltipDisabled]="!group.tooltipBrandName"
                                matTooltipPosition="before"
                            >
                                <mat-option *ngFor="let facility of group.facilities" [value]="facility">
                                    {{ facility.name }}
                                </mat-option>
                            </mat-optgroup>
                        </mat-select>
                        <mat-error
                            *ngIf="attachmentForm.get('template.facilities').invalid && attachmentForm.get('template.facilities').touched"
                        >
                            <span *ngIf="attachmentForm.get('template.facilities').errors.required">{{
                                labels.required | translate
                            }}</span>
                        </mat-error>
                    </mat-form-field>
                    <!-- departments -->
                    <mat-form-field appearance="outitem" floatLabel="always">
                        <mat-label>{{ labels.department | translate }}</mat-label>
                        <mat-select
                            formControlName="departments"
                            multiple
                            (selectionChange)="getSpecialtiesOptions()"
                            [disabled]="!departmentsList || !departmentsList.length"
                        >
                            <button
                                mat-button
                                class="mat-button-w-100-left"
                                *ngIf="!hasAllSelected('departments', attachmentForm.get('template.departments'), departmentsList)"
                                (click)="selectAll('departments', attachmentForm.get('template.departments'), departmentsList)"
                            >
                                {{ labels.selectAll | translate }}
                            </button>
                            <button
                                mat-button
                                class="mat-button-w-100-left"
                                *ngIf="hasAllSelected('departments', attachmentForm.get('template.departments'), departmentsList)"
                                (click)="unselectAll('departments', attachmentForm.get('template.departments'))"
                            >
                                {{ labels.unselectAll | translate }}
                            </button>

                            <mat-optgroup *ngFor="let group of departmentsList" [label]="group.facilityName">
                                <mat-option *ngFor="let department of group.departments" [value]="department">
                                    {{ department.name }}
                                </mat-option>
                            </mat-optgroup>
                        </mat-select>
                        <mat-error
                            *ngIf="
                                attachmentForm.get('template.departments').invalid && attachmentForm.get('template.departments').touched
                            "
                        >
                            <span *ngIf="attachmentForm.get('template.departments').errors.required">{{
                                labels.required | translate
                            }}</span>
                        </mat-error>
                    </mat-form-field>
                    <!-- specialties -->
                    <mat-form-field appearance="outitem" floatLabel="always">
                        <mat-label>{{ labels.specialty | translate }}</mat-label>
                        <mat-select
                            formControlName="specialties"
                            multiple
                            [disabled]="!specialtiesList || !specialtiesList.length"
                        >
                            <button
                                mat-button
                                class="mat-button-w-100-left"
                                *ngIf="!hasAllSelected('specialties', attachmentForm.get('template.specialties'), specialtiesList)"
                                (click)="selectAll('specialties', attachmentForm.get('template.specialties'), specialtiesList)"
                            >
                                {{ labels.selectAll | translate }}
                            </button>
                            <button
                                mat-button
                                class="mat-button-w-100-left"
                                *ngIf="hasAllSelected('specialties', attachmentForm.get('template.specialties'), specialtiesList)"
                                (click)="unselectAll('specialties', attachmentForm.get('template.specialties'))"
                            >
                                {{ labels.unselectAll | translate }}
                            </button>

                            <mat-optgroup *ngFor="let group of specialtiesList" [label]="group.departmentName">
                                <mat-option *ngFor="let specialty of group.specialties" [value]="specialty">
                                    {{ specialty.name }}
                                </mat-option>
                            </mat-optgroup>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <!-- Attachment items -->
            <div class="template-data__section">
                <div class="template-data__section__title first-child">{{ labels.attachmentsItems | translate }} *</div>
                <div class="template-data__section__group">
                    <div cdkDropListGroup>
                        <div
                            cdkDropList
                            class="droplist-with-handle attachments-items-list"
                            (cdkDropListDropped)="dropAttachmentItem($event)"
                        >
                            <ng-container *ngFor="let itemForm of templateAttachmentItems.controls; let i = index">
                                <div
                                    class="draggable-item attachment-item smaller-mat-form-fields"
                                    [formGroup]="itemForm"
                                    cdkDrag
                                    cdkDragBoundary=".attachments-items-list"
                                >
                                    <div class="attachment-item-custom-placeholder" *cdkDragPlaceholder></div>
                                    <mat-icon cdkDragHandle class="opacity-04">drag_indicator</mat-icon>

                                    <mat-form-field
                                        appearance="outitem"
                                        class="smaller-mat-form-fields__no-margin"
                                        floatLabel="always"
                                    >
                                        <input type="text" matInput formControlName="name" />
                                        <!-- <input type="text" matInput [(ngModel)]="item.description" /> -->
                                    </mat-form-field>

                                    <div class="attachment-item__actions">
                                        <button mat-button class="opacity-04" (click)="deleteAttachmentItem(i)">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <mat-error *ngIf="attachmentForm.get('templateAttachmentItems').invalid">
                        <span *ngIf="attachmentForm?.get('templateAttachmentItems')?.errors?.required && attachmentForm?.touched">{{
                            labels.required | translate
                        }}</span>
                    </mat-error>
                    <button mat-button class="v-align-bottom opacity-06 no-padding" (click)="addAttachmentItem()">
                        <mat-icon>add</mat-icon>
                        {{ labels.newItem | translate }}
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="create-edit-template-content__buttons">
        <!-- TODO: buttons used when the component is not opened with customDialogService -->
    </div>
</div>
