<div *ngIf="form" class="roles-container">
    <div class="roles-container__section" fxLayout="row wrap">
        <div class="roles-container__section__title">
            <h1>{{ labels.cards | translate }}</h1>
        </div>
        <div
            class="roles-container__section__item"
            *ngFor="let card of cardsList"
            [ngClass]="{ selected: itemIsSelected(card) }"
            (click)="selectItem(card)"
            fxLayout="column"
            fxLayoutAlign="center center"
        >
            <span>{{ card?.name }}</span>
            <span class="roles-container__section__item__users">{{ card?.workflowCount }} {{labels.workflows | translate }}</span>
        </div>
    </div>
</div>
