<div class="login-content" fxLayout="column">
    <div class="login-content__information">
        <p>Seleccione un método de autenticación</p>
    </div>

    <!-- Opción EMAIL -->
    <div
        class="login-content__link"
        fxLayout="row"
        fxLayoutAlign="start center"
        [ngClass]="{ disabled: !email }"
        (click)="email ? selectOption('EMAIL') : null"
    >
        <div class="login-content__icon-container">
            <mat-icon class="login-content__icon">email</mat-icon>
        </div>
        <div fxLayout="column">
            <div class="login-content__link__title">
                <span>Email</span>
            </div>
            <div class="login-content__link__value">
                <span>{{ email }}</span>
            </div>
        </div>
    </div>
    <!-- Mensaje de opción no disponible -->
    <span *ngIf="!email" class="login-content__not-available">No hay email registrado en el sistema</span>

    <!-- Opción SMS -->
    <div
        class="login-content__link"
        fxLayout="row"
        fxLayoutAlign="start center"
        [ngClass]="{ disabled: !phoneNumber }"
        (click)="phoneNumber ? selectOption('SMS') : null"
    >
        <div class="login-content__icon-container">
            <mat-icon class="login-content__icon">sms</mat-icon>
        </div>
        <div fxLayout="column">
            <div class="login-content__link__title">
                <span>SMS</span>
            </div>
            <div class="login-content__link__value">
                <span>{{ phoneNumber }}</span>
            </div>
        </div>
    </div>
    <span *ngIf="!phoneNumber" class="login-content__not-available">No hay telefono registrado en el sistema</span>

    <!-- Opción Authenticator -->
    <div [ngClass]="{ disabled: true }" class="login-content__link" fxLayout="row" fxLayoutAlign="start center" (click)="(null)">
        <div class="login-content__icon-container">
            <mat-icon class="login-content__icon">security</mat-icon>
        </div>
        <div fxLayout="column">
            <div class="login-content__link__title">
                <span>Aplicación Microsoft Authenticator</span>
            </div>
            <div class="login-content__link__value">
                <span>&nbsp;</span>
            </div>
        </div>
    </div>
</div>
