<div class="forgot-password" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
    <!-- Content -->
    <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" fxFlexOrder.sm="1" fxFlexOrder.xs="1">
        <div class="forgot-password-content" fxLayout="column" fxLayoutAlign="center center">
            <div class="forgot-password-content-spacer">
                <go-back></go-back>

                <div class="forgot-password-content__title mat-display-2">{{ labels.title | translate }}</div>
                <div class="forgot-password-content__description mat-subheading-2">{{ labels.description | translate }}</div>

                <form [formGroup]="forgotPasswordForm">
                    <!-- userName -->
                    <div>
                        <mat-form-field appearance="outline" class="forgot-password-content__input">
                            <mat-label>{{ labels.userName | translate }}</mat-label>
                            <input matInput formControlName="userName" />
                            <mat-error
                                class="forgot-password-content__error"
                                *ngIf="
                                    forgotPasswordForm.controls.userName.invalid && forgotPasswordForm.controls.userName.touched
                                "
                            >
                                {{ labels.userNameRequired | translate }}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <button
                        mat-flat-button
                        color="primary"
                        class="forgot-password-content__btn"
                        [disabled]="!forgotPasswordForm.valid"
                        (click)="restorePassword()"
                    >
                        {{ labels.restore | translate }}
                    </button>
                </form>
            </div>
        </div>
    </div>

    <!-- Image -->
    <div class="forgot-password-image" fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" fxFlexOrder.sm="0" fxFlexOrder.xs="0"></div>
</div>
