@import '@angular/material/theming';

@mixin forgot-password-component-theme($theme, $main-typo) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);

  .forgot-password {
    .forgot-password-content {
      &__description {
        color: mat-contrast($primary, 50);
        font-weight: 500;
      }
    }
  }
}
