.actions-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  &__actions-and-links {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    h5 {
      margin-top: 30px;
    }
  }
  &__move {
    width: 100%;
    // .buttons {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // button.move,
    // button.send {
    //   width: 48%;
    // }
    // }
  }
  .buttons {
    width: 100%;
    button {
      width: 100%;
      height: 50px;
      margin: 5px 0;
    }
  }
}
