<div class="actions-wrapper">
    <div class="actions-wrapper__actions-and-links">
        <div class="buttons">
            <button mat-raised-button *ngFor="let action of actions" (click)="btnClick(action)">{{ action.name }}</button>
        </div>

        <h5 class="uppercase" *ngIf="getShortCutsGroups()?.length">{{ labels.directLinks | translate }}</h5>
        <mat-accordion>
            <mat-expansion-panel class="zero-padding" *ngFor="let group of getShortCutsGroups()">
                <mat-expansion-panel-header>
                    <mat-panel-title> {{ group.workflow.name }} </mat-panel-title>
                    <!-- <mat-panel-description>
                </mat-panel-description> -->
                </mat-expansion-panel-header>
                <div class="buttons">
                    <button
                        mat-raised-button
                        *ngFor="let shortcut of group.moves"
                        (click)="btnClickShortcut(shortcut)"
                        [style.background-color]="getBgColor(null, shortcut.shortcutColor)"
                        [style.color]="getFontColor(null, shortcut.shortcutColor)"
                    >
                        {{ shortcut.shortcutName }}
                    </button>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <h5 class="uppercase" *ngIf="links?.length">{{ labels.externalLinks | translate }}</h5>
        <div class="buttons">
            <button
                mat-raised-button
                *ngFor="let link of links"
                (click)="btnClick(link)"
                [style.background-color]="getBgColor(link)"
                [style.color]="getFontColor(link)"
            >
                {{ link.name }}
            </button>
        </div>
    </div>
    <div class="actions-wrapper__move">
        <div class="buttons">
            <button mat-raised-button *ngIf="hasPermission('move')" class="move" color="primary" (click)="moveCard()">
                <mat-icon>keyboard_arrow_right</mat-icon>
                <label>{{ labels.move | translate }}</label>
            </button>
            <button mat-raised-button *ngIf="hasPermission('send')" class="send" (click)="sendCardToOtherWorkflow()">
                <mat-icon>call_split</mat-icon>
                <label>{{ labels.send | translate }}</label>
            </button>
        </div>
    </div>
</div>
