<div class="workflow-navbar" fxLayoutAlign="space-between center">
    <div class="workflow-navbar__searcher smaller-mat-form-fields">
        <form [formGroup]="workflowForm">
            <mat-form-field
                appearance="outline"
                floatLabel="always"
                class="smaller-mat-form-fields__no-margin mat-form-field__no-border"
            >
                <mat-select
                    formControlName="workflow"
                    disableOptionCentering
                    [placeholder]="labels.selectWorkflow | translate"
                    class="capitalize redPlaceholder"
                    [panelClass]="'workflow-panel-class bigger-selection-panel-class smaller-mat-form-fields'"
                    (selectionChange)="workflowSelectionChange($event)"
                >
                    <mat-form-field
                        class="filter"
                        appearance="outline"
                        floatLabel="always"
                        class="smaller-mat-form-fields__no-margin workflow-navbar__selector-filter"
                    >
                        <input
                            matInput
                            type="text"
                            matInput
                            formControlName="workflowSearch"
                            [placeholder]="labels.filterWorkflow | translate"
                        />
                    </mat-form-field>

                    <mat-divider></mat-divider>

                    <mat-select-trigger *ngIf="workflowSelected">
                        {{ workflowSelected?.name || "" }}
                    </mat-select-trigger>

                    <mat-option
                        *ngFor="let workflow of workflowOptions | async"
                        [value]="workflow"
                        class="workflow-name capitalize"
                    >
                        {{ workflow.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>
    <div fxLayoutAlign="space-between center">
        <app-workflow-navbar-filter></app-workflow-navbar-filter>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="workflow-navbar__view-options">
            <mat-icon class="opt-view table-view" (click)="goToView('tableView')" [ngClass]="{ active: isView('tableView') }">
                menu
            </mat-icon>
            <mat-icon class="opt-view board-view" (click)="goToView('boardView')" [ngClass]="{ active: isView('boardView') }">
                bar_chart
            </mat-icon>
            <mat-icon
                class="opt-view calendar-view"
                (click)="goToView('calendarView')"
                [ngClass]="{ active: isView('calendarView') }"
            >
                calendar_today
            </mat-icon>
        </div>
    </div>
</div>
