//These styles are included in workflow.component.scss-theme.scss to avoid too many imports in styles file
@import '@angular/material/theming';

@mixin workflow-navbar-component-theme($theme, $main-typo) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);

  .workflow-panel-class {
    .workflow-facility .mat-optgroup-label {
      color: darken(mat-color($primary, A700), 30%);
      font-size: 0.9em;
      font-weight: 500;
    }
    .workflow-name {
      color: darken(mat-color($primary, 900), 30%);
      font-size: 0.9em;
      font-weight: 500;
    }
    .workflow-navbar__selector-filter {
      width: 100%;
      input {
        font-size: 1.2em;
      }
    }
  }
}
