<div class="workflow-navbar" fxLayoutAlign="space-between center">
    <div class="workflow-navbar__searcher smaller-mat-form-fields">
        <form [formGroup]="workflowForm">
            <mat-form-field
                appearance="outline"
                floatLabel="always"
                class="smaller-mat-form-fields__no-margin mat-form-field__no-border"
            >
                <mat-select
                    formControlName="workflow"
                    disableOptionCentering
                    placeholder="Selecciona un workflow"
                    class="uppercase redPlaceholder"
                    [panelClass]="'workflow-panel-class bigger-selection-panel-class smaller-mat-form-fields'"
                    (selectionChange)="workflowSelectionChange($event)"
                >
                    <mat-form-field
                        class="filter"
                        appearance="outline"
                        floatLabel="always"
                        class="smaller-mat-form-fields__no-margin workflow-navbar__selector-filter"
                    >
                        <input matInput type="text" matInput formControlName="workflowSearch" placeholder="Filtrar workflows" />
                    </mat-form-field>

                    <mat-divider></mat-divider>

                    <mat-select-trigger *ngIf="workflowSelected">
                        {{ workflowSelected?.name || "" }}
                        <span *ngIf="workflowSelected.facility?.facilityName">
                            - {{ workflowSelected.facility?.facilityName }}
                        </span>
                    </mat-select-trigger>
                    <mat-optgroup
                        *ngFor="let group of workflowGroupOptions | async"
                        class="uppercase workflow-facility"
                        [label]="getWorkflowGroupLabel(group) | uppercase"
                    >
                        <mat-divider></mat-divider>
                        <mat-option *ngFor="let workflow of group.workflows" [value]="workflow" class="workflow-name capitalize">
                            {{ workflow.name }}
                            <!-- <mat-divider></mat-divider> -->
                        </mat-option>
                    </mat-optgroup>
                </mat-select>
            </mat-form-field>
        </form>
        <!-- <form [formGroup]="workflowForm">
            <mat-form-field appearance="outline" floatLabel="always" class="smaller-mat-form-fields__no-margin">
                <input
                    type="text"
                    matInput
                    formControlName="workflow"
                    required
                    class="uppercase"
                    [matAutocomplete]="workflowGroupAutoComplete"
                    placeholder="Selecciona un workflow"
                    (click)="workflowForm.get('workflow').setValue('')"
                />
                <mat-autocomplete #workflowGroupAutoComplete="matAutocomplete">
                    <mat-optgroup
                        *ngFor="let group of workflowGroupOptions | async"
                        [label]="getWorkflowGroupLabel(group) | uppercase"
                    >
                        <mat-option *ngFor="let workflow of group.workflows" [value]="getWorkflowValue(workflow, group)">
                            {{ workflow.name }}
                            <mat-divider></mat-divider>
                        </mat-option>
                        <mat-divider></mat-divider>
                    </mat-optgroup>
                </mat-autocomplete>
            </mat-form-field>
        </form> -->
    </div>
    <div fxLayoutAlign="space-between center">
        <div class="workflow-navbar__filter">
            <mat-icon class="filter-icon">filter_list</mat-icon>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="workflow-navbar__view-options">
            <mat-icon class="opt-view table-view" [routerLink]="WORKFLOW_TABLE_PATH" routerLinkActive="active"> menu </mat-icon>
            <mat-icon class="opt-view board-view" [routerLink]="WORKFLOW_BOARD_PATH" routerLinkActive="active">
                bar_chart
            </mat-icon>
            <mat-icon class="opt-view calendar-view" [routerLink]="WORKFLOW_CALENDAR_PATH" routerLinkActive="active">
                calendar_today
            </mat-icon>
        </div>
    </div>
</div>
