.custom-dialog {
  &__content {
    max-height: 67vh;
    overflow-y: auto;
    overflow-x: hidden;
    @media (max-height: 697px) {
      max-height: 60vh;
    }
    @media (max-height: 500px) {
      max-height: 55vh;
    }
    @media (max-height: 410px) {
      max-height: 50vh;
    }
    @media (max-height: 350px) {
      max-height: 45vh;
    }
    @media (max-height: 315px) {
      max-height: 40vh;
    }
    @media (max-height: 300px) {
      max-height: 35vh;
    }
  }
  &__divider {
    margin: 15px 0;
    padding: 0;
  }
}
