<div class="item-input" [ngSwitch]="tabItem?.tabItemConfigInput?.dataType" [formGroup]="tabItemForm">
    <div *ngSwitchCase="'STRING'">
        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>{{ tabItem.name }}</mat-label>
            <input matInput formControlName="value" [readonly]="!editMode" />
            <mat-error *ngIf="tabItemForm.get('value').invalid">
                <span>{{ labels.required | translate }}</span>
            </mat-error>
        </mat-form-field>
    </div>
    <div *ngSwitchCase="'NUMBER'">
        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>{{ tabItem.name }}</mat-label>
            <input
                appTwoDigitDecimal
                [decimals]="tabItem?.tabItemConfigInput?.numDecimals"
                matInput
                formControlName="value"
                [readonly]="!editMode"
            />
            <mat-error *ngIf="tabItemForm.get('value').invalid">
                <span>{{ labels.required | translate }}</span>
            </mat-error>
        </mat-form-field>
    </div>
    <div *ngSwitchCase="'TEMPORAL'">
        <div [ngSwitch]="tabItem?.tabItemConfigInput?.dateType">
            <div *ngSwitchCase="'DATE'">
                <mat-form-field appearance="outline" class="smaller-mat-form-fields__no-margin date-picker" floatLabel="always">
                    <mat-label>{{ tabItem.name }}</mat-label>
                    <input
                        matInput
                        readonly
                        #pickerIniInput
                        [matDatepicker]="pickerIni"
                        placeholder="DD/MM/YYYY"
                        formControlName="value"
                        [disabled]="!editMode"
                    />
                    <mat-datepicker-toggle matSuffix [for]="pickerIni"></mat-datepicker-toggle>
                    <mat-datepicker #pickerIni></mat-datepicker>
                </mat-form-field>
            </div>
            <div *ngSwitchCase="'DATETIME'">
                <mat-form-field appearance="outline" class="smaller-mat-form-fields__no-margin date-picker" floatLabel="always">
                    <mat-label>{{ tabItem.name }}</mat-label>
                    <input matInput readonly [ngxMatDatetimePicker]="picker" formControlName="value" [disabled]="!editMode" />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #picker [showSeconds]="false" [enableMeridian]="false"> </ngx-mat-datetime-picker>
                    <mat-error *ngIf="tabItemForm.get('value').invalid">
                        <span>{{ labels.required | translate }}</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div *ngSwitchCase="'TIME'" fxLayout="column">
                <h3 class="title-msg">{{ tabItem.name }}</h3>
                <ngx-mat-timepicker formControlName="value" [disabled]="!editMode" [defaultTime]="[0, 0, 0]"></ngx-mat-timepicker>
                <span class="error-msg" *ngIf="tabItemForm.get('value').invalid">{{ labels.required | translate }}</span>
            </div>
        </div>
    </div>
</div>
