@import 'utils/core';
@import 'utils/theme';
:host {
  min-width: 100%;
  .workflow-calendar-line {
    min-width: 100%;
    &__header {
      min-width: 100%;
      border-bottom: 1px solid lighten(mat-color($primary, 200), 10%);
      height: 60px;
      &__cell {
        min-width: 370px;
        height: 100%;
        width: 100%;
        span {
          font-size: 1rem;
          font-weight: 600;
        }
        &.highlight {
          background-color: lighten(mat-color($primary, 200), 20%);
        }
        &.week {
          width: 14%;
        }
      }
      &__cell:not(:last-child) {
        border-right: 1px solid lighten(mat-color($primary, 200), 10%);
      }
    }
    &__hour {
      min-width: 100%;
      border-bottom: 1px solid lighten(mat-color($primary, 200), 10%);
      position: relative;
      &__cellhour {
        position: relative;
        min-width: 370px;
        width: 100%;
        height: auto;
        overflow: hidden;
        max-height: 230px;
        padding: 15px 10px;
        box-sizing: border-box;
        &.highlight {
          background-color: lighten(mat-color($primary, 200), 20%);
        }
        &.borderCalendar {
          border-right: 1px solid lighten(mat-color($primary, 200), 10%);
        }
        app-workflow-card {
          padding-right: 10px;
        }
        &.week {
          width: 14%;
        }
        .add-card-icon {
          position: absolute;
          right: 5px;
          font-size: 24px;
          background-color: mat-color($primary);
          color: white;
          border-radius: 4px;
          padding: 4px;
          cursor: pointer;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
          transition: background-color 0.3s ease;

          &:hover {
            background-color: darken(mat-color($primary), 10%);
          }
        }
      }
      &__time {
        position: absolute;
        left: -50px;
        top: -10px;
        color: lighten(mat-color($primary, 200), 10%);
      }
      &__timeLine {
        position: absolute;
        min-width: 100%;
        border-top: 1px solid lighten(mat-color($primary, 500), 10%);
      }
      &__timeLine::before {
        position: absolute;
        content: '';
        background-color: lighten(mat-color($primary, 500), 10%);
        border-radius: 50%;
        height: 8px;
        width: 8px;
        left: -7px;
        top: -4px;
      }
    }
  }
}
