@import 'utils/core';

.workflow-navbar-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__mobile {
    cursor: pointer;
    margin: 0 10px;
    display: none;
  }
  &__others {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @include respond-to(645px) {
    &__mobile {
      margin: 0 5px;
    }
  }
  @include respond-to(calc($desktop + 80px)) {
    &__mobile {
      display: block;
    }
    &__others {
      display: none;
    }
  }
}
