@import 'utils/theme';
.tasks-wrapper {
  width: 100%;
  overflow: hidden;
  &__task {
    border-radius: 10px;
    background-color: mat-color($background, disabled-button);
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    min-height: 120px;
    position: relative;
    .task-status {
      min-height: 100px;
      height: 80%;
      min-width: 5px;
      margin: 10% 5px;
      border-radius: 20px;
      position: absolute;
      &.pending {
        background-color: mat-color($primary, statusPending);
      }
      &.completed {
        background-color: mat-color($primary, statusSuccess);
      }
    }
    .task-info {
      min-height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 25px;
      &__title {
        font-weight: 600;
        font-size: 0.85em;
        color: mat-contrast($primary, 100);
        text-transform: uppercase;
        &__state {
          font-size: 0.8em;
          color: mat-contrast($primary, 50);
          margin-top: -5px;
        }
      }
      &__info {
        font-size: 0.9em;
        word-break: break-word;
        white-space: break-spaces;
        color: mat-contrast($primary, 50);
      }
      &__status {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        &__name {
          font-weight: 600;
          font-size: 0.85em;
          text-transform: uppercase;
          margin-right: 5px;
          &.pending {
            color: mat-color($primary, statusPending);
          }
          &.completed {
            color: mat-color($primary, statusSuccess);
          }
        }
        &__extra {
          font-size: 0.8em;
          color: mat-contrast($primary, 50);
          white-space: nowrap;
        }
      }
    }
  }
  &__children {
    margin-left: 15px;
  }
}
